<!-- %%%%% REDIRECT LOADER -->
<section class="bg-light min-vh-100">
  <div class="container-lg min-vh-100 d-flex flex-column justify-content-center py-4">
    <div class="d-flex flex-column align-items-center gap-1 p-xl-7 p-4 col-md-10 mx-auto text-center">
      <nav class="mb-3">
        <a href="/" class="navbar-brand me-auto">
          <img src="../../../../assets/images/nrc-loader.gif" alt="NRC" width="120" height="60" class="img-fluid rounded-4" />
        </a>
      </nav>

      <h1 class="h2 mb-0">Hold tight! We're preparing your exclusive offer...</h1>
    </div>
  </div>
</section>
