@if (form.controls[question.id].dirty && form.controls[question.id].errors) {
  <p class="form-control-feedback text-start mb-0 p-0">
    @if (form.controls[question.id].hasError('REQUIRED')) {
      Please select a value
    }
  </p>
}

<div class="d-flex flex-wrap gap-2 mt-3" [formGroup]="form">
  @for (option of question.questionOptions; track $index; let i = $index) {
    <!-- radio option -->
    <div class="form-check form-check-btn">
      <input
        class="form-check-input"
        type="radio"
        [attr.name]="question.id"
        id="{{ option.id }}"
        [value]="option.id"
        [formControlName]="question.id"
        (click)="onValueSelect(option)"
      />
      <label class="form-check-label" for="{{ option.id }}"> {{ option.text }}</label>
    </div>
  }
</div>
