<!-- %%%%% HEADER %%%%% -->
<header class="px-2 pt-2 position-fixed top-0 start-0 w-100">
  <nrc-header [showPrivacyInfoPill]="true"></nrc-header>
</header>

<!-- %%%%% PAGE TITLE SECTION %%%%%% -->
<section class="top-section-pt-sm bg-primary text-white">
  <div class="container text-center pt-0 p-4">
    <div class="col-xl-8 col mx-auto">
      <h1 class="h3 ls-sm">This questionnaire helps identify your benefits and determine eligibility.</h1>
    </div>
  </div>
</section>

<!-- %%%%% SURVEYS SECTION %%%%%% -->
<section class="survey-content-section py-3 bg-light">
  <div class="container h-md-100">
    <div class="col-xl-8 col-md-10 h-md-100 mx-auto">
      <form id="trustedForm">
        <input type="hidden" name="xxTrustedFormCertUrl" id="xxTrustedFormCertUrl_0" #trustedFormCertUrl />
      </form>

      <div class="bg-glass h-md-100 position-relative" nrcLoader="surveyLoader" nrcLoader="offerLoader">
        @if (dynamicSurvey) {
          <nrc-dynamic-survey-renderer
            [dynamicSurvey]="dynamicSurvey"
            [surveyResponses]="surveyResponses"
            [isSurveyCompleted]="isSurveyCompleted"
            (nextPage)="onPageSubmit($event)"
            (completeSurvey)="onSubmit($event)"
          >
          </nrc-dynamic-survey-renderer>
        }
      </div>
    </div>
  </div>
</section>

<!-- %%%%% FOOTER %%%%%% -->
<nrc-footer [showSurveysDisclaimer]="true"></nrc-footer>
