//
//
// Add Custom in Utilities API
$utilities: map-merge(
  $utilities,
  (
    'min-height': (
      property: min-height,
      class: min-h,
      responsive: true,
      values: (
        100: 100%,
      ),
    ),
    'min-viewport-height': (
      property: min-height,
      class: min-vh,
      values: (
        50: 50vh,
        75: 75vh,
        100: 100vh,
      ),
    ),
  )
);

//
//
// Merge exiting in Utilities API
$utilities: map-merge(
  $utilities,
  (
    'height':
      map-merge(
        map-get($utilities, 'height'),
        (
          responsive: true,
        )
      ),
    'width':
      map-merge(
        map-get($utilities, 'width'),
        (
          responsive: true,
        )
      ),
    'overflow':
      map-merge(
        map-get($utilities, 'overflow'),
        (
          responsive: true,
        )
      ),
    'overflow-x':
      map-merge(
        map-get($utilities, 'overflow-x'),
        (
          responsive: true,
        )
      ),
    'overflow-y':
      map-merge(
        map-get($utilities, 'overflow-y'),
        (
          responsive: true,
        )
      ),
    'position': (
      property: position,
      responsive: true,
      values: static relative absolute fixed sticky,
    ),
  )
);
