<!-- %%%%% HEADER %%%%% -->
<header class="px-2 pt-2 position-fixed top-0 start-0 w-100">
  <nrc-header [showPrivacyInfoPill]="true"></nrc-header>
</header>

<!-- %%%%% PAGE TITLE SECTION %%%%%% -->
<section class="top-section-pt-sm bg-primary text-white">
  <div class="container text-center pt-0 p-4">
    <div class="col-xl-8 col mx-auto">
      <!-- <h1 class="h3 ls-sm">Title fo this ad page</h1> -->
    </div>
  </div>
</section>

<!-- %%%%% SURVEYS SECTION %%%%%% -->
<section class="broadwalk-content-section py-3 bg-light d-md-flex align-items-center">
  <div class="container">
    <div class="col-xxl-9 col-xl-10 mx-auto">
      <div id="promenade"></div>
    </div>
  </div>
</section>

<!-- %%%%% FOOTER %%%%%% -->
<nrc-footer [showSurveysDisclaimer]="true"></nrc-footer>
