<form [formGroup]="form" (submit)="moveToNextPage($event)" class="d-flex flex-column bg-white rounded shadow h-md-100">
  <!-- Head -->
  <div
    class="d-flex justify-content-center p-lg-4 p-4 bg-glass rounded-top shadow-sm position-md-static position-sticky z-9"
    style="top: 72px"
  >
    <ul class="step-wizard nav list-unstyled mb-0" role="tablist">
      @for (page of dynamicSurvey.surveyPages; track page.id; let i = $index) {
        <li class="nav-item" role="presentation">
          <a
            [ngClass]="{
              completed: i < currentPage,
              active: currentPage === i,
            }"
            class="nav-link"
            role="tab"
            [attr.aria-controls]="'Page - ' + (i + 1)"
            [attr.aria-selected]="currentPage === i"
          >
            <span class="badge"></span>
          </a>
        </li>
      }
    </ul>
  </div>

  <!-- Body -->
  <div class="h-md-100 p-4 overflow-md-auto">
    @if (surveyPageLoaded) {
      <nrc-dynamic-page-renderer
        [form]="form"
        [page]="dynamicSurvey.surveyPages[currentPage]"
        [surveyResponses]="surveyResponses"
        [prevPage]="dynamicSurvey.surveyPages[currentPage - 1]"
        (moveToNextPage)="moveToNextPage($event)"
        (consentText)="setConsentText($event)"
      >
      </nrc-dynamic-page-renderer>
    }
  </div>

  <!-- Foot -->
  @if (showButton()) {
    <div class="d-flex justify-content-end bg-gray-100 border-top p-3 rounded-bottom">
      @if (currentPage === totalPages) {
        <button class="btn btn-secondary px-5 fs-md" type="submit">Finish</button>
      } @else {
        <button class="btn btn-secondary px-md-5 px-4 fs-md btn-icon" type="submit">
          Next <span class="material-symbols-outlined">arrow_forward</span>
        </button>
      }
    </div>
  }
</form>

@if (pixelConsentText !== '') {
  <div class="pixel-consent-panel">
    <p [innerHTML]="pixelConsentText"></p>
  </div>
}
