@if (form.controls[question.id].dirty && form.controls[question.id].errors) {
  <p class="form-control-feedback text-start mb-0 p-0">
    @if (form.controls[question.id].hasError('REQUIRED')) {
      Please select a value
    }
  </p>
}

<div class="d-flex flex-wrap gap-2 mt-3" [formGroup]="form">
  @if (question.questionOptions) {
    @for (item of formArray.controls; track $index; let i = $index) {
      <!-- checkbox option -->
      <div class="form-check form-check-btn" formArrayName="{{ question.id }}">
        <input
          class="form-check-input"
          type="checkbox"
          name="offers"
          [formControlName]="i"
          id="{{ question.questionOptions[i].id }}"
          (change)="onValueSelect($event, i, question.questionOptions[i])"
        />
        <label class="form-check-label" for="{{ question.questionOptions[i].id }}"> {{ question.questionOptions[i].text }} </label>
      </div>
    }
  }
</div>
