<!-- %%%%% HEADER %%%%% -->
<header class="px-2 pt-2 position-fixed top-0 start-0 w-100">
  <nrc-other-header brandName="zippystackedleads"></nrc-other-header>
</header>

<!-- %%%%% PAGE TITLE SECTION %%%%%% -->
<section class="top-section-pt-sm bg-primary text-white">
  <div class="container text-center pt-0 p-4">
    <div class="col-xl-8 col mx-auto">
      <h1 class="h3 ls-sm">Terms And Conditions</h1>
    </div>
  </div>
</section>

<!-- %%%%% TERMS SECTION %%%%%% -->
<section class="bg-light min-vh-50">
  <div class="container-lg min-vh-50 d-md-flex flex-column justify-content-center py-4">
    <div class="bg-white rounded border p-xl-5 p-4 col-xl-7 col-md-10 mx-auto shadow">
      <h5>Please read these terms and conditions of use carefully before using this website</h5>
      Thank you for visiting nationalresourceconnect.com ("Website," "Site," or "App"). The Site is owned and operated by WebClickMedia LLC.
      ("WebClickMedia," "we," "us," or "our"). The terms of use detailed below (the "Terms of Use") govern your access to and use of the
      Site and the services that we make available to you through the Site (the "Services"). These Terms of Use are a legal contract between
      you and WebClickMedia. By accessing or using the Site or any of the Services, you hereby agree to receive emails/SMS/Call from
      national resource connect and its partners, Also agree to these Terms of Use, and you warrant that you are at least 18 years of age.
      If you do not agree with these Terms of Use, in whole or in part, please do not continue to use the Site or the Services.<br />
      The Terms &amp; Conditions policy is effective as of the last updated date specified above. We may change the Terms &amp; Conditions
      at any time. Please check this page periodically for changes as your continued use of the Site or Services after any such change will
      constitute your acceptance of any modified terms.<br /><br /><br />

      <h5>The services</h5>
      The Services are provided "as is", and include WebClickMedia Expert Advice<sup>&trade;</sup>, free information, including insurance
      quotes and quote ranges, tools, links, and recommendations to help you with insurance and financial related decisions. Most
      information provided through the Service is provided for general informational and educational purposes. There is information provided
      at the point of sale for commercial purposes.<br />
      The Services include incorporation of third-party insurance products, brokers, and carriers in the form of an advertisement, insurance
      quote, online purchase, email, phone call, text message, or any other marketing medium. This serves as notice that you may have
      third-parties contact you on our behalf.<br />
      The Services also include formal quoting, brokering, and transacting of first-and-third-party insurance products. We are a licensed
      insurance agency.<br />
      Any quotes, or quote-ranges provided on the Site or over the phone are non-binding. The final insurance policy premium for any policy
      is determined following application by the underwriting insurance company. Insurance products and their availability may vary by state
      and your individual circumstances, and additional minimum coverage limits may be required in your state. The third-party insurance
      products offered for sale through the Site are only available in the jurisdictions in which we are properly licensed.<br />
      At times, Services may require you to agree to additional terms and conditions, or enter into separate agreements with us or
      applicable third-parties. Any third-party insurance products purchased by you through the Site are subject to the contract terms of
      the applicable insurance carrier. In the event of a conflict between these Terms of Use and the terms of any insurance policy terms,
      the terms of the insurance policy will control.<br /><br /><br />

      <h5>Help Information</h5>
      Supported carriers are: AT&amp;T, Sprint, T-Mobile<sup>&reg;</sup>, Verizon Wireless, Boost, Cricket, MetroPCS, U.S. Cellular, Virgin
      Mobile, ACS Wireless, Appalachian Wireless, Bluegrass Cellular, Carolina West Wireless, Cellcom, C-Spire Wireless (formerly
      Cellsouth), Cellular One of East Central Illinois, Cincinnati Bell Wireless, Cross (dba Sprocket), Duet IP, Element Mobile, EpicTouch,
      GCI Communications, Golden State, Hawkeye (Chat Mobility), Hawkeye (NW Missouri Cellular), Illinois Valley Cellular, Immix (Keystone
      Wireless / PC Management), Inland Cellular, iWireless, Mobi PCS (Coral Wireless LLC), Mosaic, MTPCS / Cellular One (Cellone Nation),
      Nex-Tech Wireless, nTelos, Panhandle Telecommunications, Peoples Wireless, Pioneer, Plateau, Revol Wireless, Rina - Custer, Rina - All
      West, Rina - Cambridge Telecom Coop, Rina - Eagle Valley Comm, Rina - Farmers Mutual Telephone Co, Rina - Nucla Nutria Telephone Co,
      Rina - Silver Star, Rina - South Central Comm, Rina - Syringa, Rina - UBET, Rina - Manti, South Canaan / CellularOne of NEPA, Thumb
      Cellular, Union Wireless, United, Viaero Wireless, West Central Wireless, Leaco, Nemont/Sagebrush. T-Mobile is not liable for delayed
      or undelivered messages. We take your privacy seriously. Please review our
      <a href="https://nationalresourceconnect.com/PrivacyPolicy.html" target="_blank">Privacy Policy</a>.<br /><br /><br />

      <h5>Account</h5>
      The site is largely a free and unrestricted resource, however, to access certain password-protected areas of the Site and Services,
      you must register for an account. Your account is also important for purchasing, storing, and managing your insurance policies. To
      register for an account, you must provide us with your first name, last name, and email address. You warrant and represent that all
      registration information provided by you is truthful and accurate. With your permission, we will create an account for you as a part
      of the Services, in this event, you are the owner of the account as if you created it. You are required to update your registration
      information as necessary from time to time. All registration information and any other personal information that you provide to us
      through your use of the Service is subject to the terms of our
      <a href="https://nationalresourceconnect.com/PrivacyPolicy.html" target="_blank">Privacy Policy</a>.<br />
      Accounts are protected by passwords and pins. You are solely responsible for the confidentiality of your password, as well as for any
      use of the Site or any Services made using your password. Your password should only be used by you, and you should not share your
      password with any third party. We reserve the right to delete or change any password at any time and for any reason upon notice to
      you. We reserve the right to issue a pin to log in to your account.<br /><br /><br />

      <h5>User Conduct</h5>
      You promise NOT to use this website for any of the following purposes or activities: Conducting or supporting illegal activity of any
      type whatsoever; transmitting or storing worms or viruses or any code of a destructive nature; threatening, harassing, abusing,
      impersonating, injuring or intimidating others; interfering with others' use of this Website, unless such interference is for the
      purpose of complying with another section of these Terms of Use; delivering spam or collecting information to deliver spam, or sending
      unsolicited email advertisements; decompiling, disassembling, reverse engineering or otherwise attempting to discover any source code
      contained in this Website; disguising the origin of any content transmitted through this Website or manipulating your presence on the
      Website; and/or causing the launch of any automated system(s) that accesses this Website in a manner that sends more request messages
      to servers of the Website in a given period of time than a human can reasonably produce in the same period by using a conventional
      online web browser.<br /><br /><br />

      <h5>Intellectual property</h5>
      The Site contains material, such as text, graphics, images, photos and other material provided by or on behalf of us, and through your
      use of the Services you will be provided with additional information from us. These materials and information are collectively
      referred to herein as the "Content." The Content is owned by us and/or our licensors and may be protected under both United States and
      foreign copyright laws and treaties. The Content includes, but is not limited to, the trademarks, service marks, and logos that are
      used and displayed on the Site, which are registered and unregistered trademarks or service marks of ours or our licensors. Moreover,
      the organization and design of the Website are the property of WebClickMedia and are protected worldwide by copyright laws and treaty
      provisions.<br />
      You shall not, without our written permission in each instance: use any trademarks, service marks or logos in any manner; copy or use
      the Content for any purpose; remove any copyright or other proprietary notices contained in the original Content on any copy you make
      of the Content; sell, transfer, assign, license, sublicense, or modify the Content, or use the Content for any public or commercial
      purpose; or use or post or publish the Content.<br />
      Nothing contained in these Terms and Conditions of Use shall be construed as conferring any license or right to any trademark or other
      intellectual property right of NationalResourceConnect or any other party. NationalResourceConnect and the stylized "WebClickMedia
      Weave Logo" design are registered trademarks of WebClickMedia LLC. All other trademarks, trade names, service marks and logos
      displayed throughout the website are the property of WebClickMedia, licensed by WebClickMedia, or owned by third parties. You shall
      not display, use as a link, use as a meta tag, or otherwise use any of the trademarks, trade names, service marks and logos displayed
      throughout the Website without the prior written consent of the owner of the trademark, trade name, service mark and logo.<br /><br /><br />

      <h5>Unsolicited information</h5>
      We provide Services for inquires and peer-to-peer interaction, and you are solely responsible for your use of these Services. By
      submitting any unsolicited information and materials, including comments, ideas, questions, and other similar communications,
      ("Unsolicited Information") you agree to be bound by the following terms and conditions. All Unsolicited Information will be
      considered NON-CONFIDENTIAL and NON-PROPRIETARY and will become WebClickMedia's property upon its submission. We are entitled to use
      such communication or material for any purpose whatsoever, commercial or otherwise, including, but not limited to, reproduction,
      disclosure, transmission, publication, broadcast, and further posting, without any compensation to the provider of the Unsolicited
      Information. Further, we are free to use any ideas, concepts, know-how, or techniques contained in any communication or material you
      send to the site for any purpose whatsoever, commercial or otherwise, including, but not limited to, developing, manufacturing, and
      marketing products. By submitting any Unsolicited Information, you are granting us a perpetual, royalty-free and irrevocable right and
      license to use, reproduce, modify, adapt, publish, translate, distribute, transmit, publicly display, publicly perform, sublicense,
      create derivative works from, transfer and sell such Unsolicited Information. Notwithstanding the foregoing, any personal information
      you submit to ASSURANCE through the pages located on the Website will be held in confidence by us as set forth in our
      <a href="https://nationalresourceconnect.com/PrivacyPolicy.html" target="_blank">Privacy Policy</a>.<br /><br /><br />

      <h5>Collection and use of information</h5>
      NationalResourceConnect respects your privacy. Your use of the Services transmits information, and possibly personally identifiable
      information. Any collection or use of personally identifiable information collected from you via the Website is governed by our
      <a href="https://nationalresourceconnect.com/PrivacyPolicy.html" target="_blank">Privacy Policy</a>, which is hereby incorporated by
      reference in its entirety. It is important that you read and understand the terms of our Privacy Policy. NationalResourceConnect may
      cooperate with and disclose information (including your account information) to any authority, government official or third party,
      without giving any notice to you, in connection with any investigation, proceeding or claim arising from an asserted illegal action or
      infringement whether related or unrelated to your use or misuse of the Website.<br /><br /><br />

      <h5>Disclaimer and limitation of liability</h5>
      YOU ACKNOWLEDGE AND AGREE THAT THE SITE, THE SERVICES, AND ALL CONTENT ARE PROVIDED "AS IS," "AS AVAILABLE", WITHOUT WARRANTY OF ANY
      KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS
      FOR A PARTICULAR PURPOSE. WE WILL NOT BE LIABLE FOR ANY DAMAGES TO, OR VIRUSES THAT MAY INFECT, YOUR COMPUTER EQUIPMENT OR OTHER
      PROPERTY ON ACCOUNT OF YOUR ACCESS TO OR USE OF THE SITE, THE SERVICES, OR ANY CONTENT.<br />
      MANY PRODUCTS QUOTED OR SOLD THROUGH THE SITE ARE THIRD-PARTY PRODUCTS AND ARE NOT OUR PRODUCTS. WE MAKE NO REPRESENTATIONS OR
      WARRANTIES WITH RESPECT TO SUCH PRODUCTS, AND WE ACCEPT NO LIABILITY IN CONNECTION WITH SUCH PRODUCTS. ALL SUCH PRODUCTS ARE PROVIDED
      TO YOU PURSUANT TO THE TERMS AND CONDITIONS OF THE INSURANCE CARRIER PROVIDING SUCH PRODUCTS.<br />
      IN NO EVENT SHALL WE BE LIABLE FOR DIRECT, SPECIAL, INDIRECT, PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS,
      REVENUES OR SAVINGS, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES IN ADVANCE. BECAUSE SOME JURISDICTIONS DO NOT
      ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR NEGLIGENCE, CONSEQUENTIAL, INCIDENTAL OR OTHER DAMAGES, IN SUCH JURISDICTIONS OUR
      LIABILITY IS LIMITED TO THE GREATEST EXTENT PERMITTED BY APPLICABLE LAW. YOUR SOLE AND EXCLUSIVE REMEDY FOR DISSATISFACTION WITH THIS
      SITE, ANY SERVICE, OR ANY CONTENT IS TO STOP USING THE SAME.<br /><br /><br />

      <h5>External sites</h5>
      The Site may contain links to third-party websites, including, without limitation, the websites offering the third-party insurance
      products made available to you through the Services ("External Sites"). We have no control over the External Sites, and we do not
      endorse and we are not responsible for the content of any linked External Sites. We are not responsible or liable for the actions,
      products or content of the External Sites, as they are provided for your convenience and are to be accessed entirely at your own risk.
      We do, however, seek to protect the integrity of our Website and welcome any feedback about external links, including information
      regarding a broken link. The Site may include interactive social media features (such as the Facebook "Like" button and Widgets, such
      as the "Share This" button) or other interactive mini-programs that run on our Website and connect to External Sites (collectively the
      "Features"). The Features may collect your IP address, which page you are visiting on our Website and may set a cookie to enable the
      Features to function properly. The Features are either hosted by a third party or hosted directly on our Website. Your interactions
      with the Features are governed by the privacy policy of the External Site providing them. Before using any External Site, please refer
      to the terms of use and privacy policies of the External Sites for more information.<br /><br /><br />

      <h5>Indemnification</h5>
      You shall defend, indemnify, and hold us and our officers, directors, employees, successors, licensees, and assigns harmless from and
      against any claims, actions, or demands, including, without limitation, reasonable legal and accounting fees, arising or resulting
      from: (i) your breach of these Terms of Use; or (ii) your access to, use, or misuse of the Site, any Services or any Content.<br /><br /><br />

      <h5>Termination</h5>
      We may terminate these Terms of Use and your access to all or any part of the Site or the Services at any time and for any reason
      without prior notice or liability. We reserve the right to change, suspend, or discontinue all or any part of the Site or the Services
      sat any time without prior notice or liability.<br /><br /><br />

      <h5>Miscellaneous</h5>
      In the event that any portion of these Terms of Use is held to be invalid or unenforceable, then such portion shall be construed in
      accordance with the applicable law as nearly as possible to reflect the original intentions of the parties, and the remainder of these
      Terms of Use shall remain in full force and effect. This section, the section entitled Indemnification, and the sections entitled
      Disclaimer, Limitation of Liability and Intellectual Property shall survive the termination of these Terms of Use. You may not assign
      these Terms of Use. No waiver shall be effective unless in writing. Neither the course of conduct between parties nor trade practice
      shall act to modify any provision of these Terms of Use. We control and operate the Website from our offices within the Pennsylvania,
      United States of America, and these Terms of Use shall be governed by and construed in accordance with the laws of the Pennsylvania.
      You are solely responsible for compliance with all applicable laws and regulations that may govern your access and use of the Website.
      Except for proceedings commenced by us to protect our intellectual property or confidential information which may be brought in any
      court of competent jurisdiction, the parties mutually agree that any and all disputes arising hereunder shall be resolved exclusively
      by state or federal courts located in Montgomery County, Pennsylvania. These Terms of Use contain the entire agreement of the parties
      concerning the subject matter hereof and supersede all existing agreements and all other oral, written or other communication between
      the parties concerning its subject matter.<br />
      If you have any questions, or would like additional information about the Terms of Use, please contact us at
      <a href="mailto:resources@nationalresourceconnect.com">resources&#64;nationalresourceconnect.com</a>
    </div>
  </div>
</section>

<!-- %%%%% FOOTER %%%%%% -->
<nrc-other-footer brandDomain="www.branddomain.com"></nrc-other-footer>
