<!-- %%%%% HEADER %%%%% -->
<header class="px-2 pt-2 position-fixed top-0 start-0 w-100">
  <nrc-header></nrc-header>
</header>

<!-- %%%%% SURVEYS SECTION %%%%%% -->
<section class="top-section-pt-sm py-xl-4 py-3 bg-light min-vh-75">
  <div class="container-xl min-vh-75">
    <div class="row g-lg-4 g-3">
      <div class="col-xl-4 col-md-5">
        <div class="bg-glass rounded border shadow-sm p-4 position-md-sticky" style="top: 6.5rem">
          <h1 class="h4 ls-sm mb-4">
            <strong class="d-block mb-2 text-primary">Hi {{ user.firstName }},</strong>
            Explore New Job Opportunities Near You!
          </h1>
          <div class="row g-3">
            <div class="col-md-12">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control input-ic-search input-ic-right"
                  placeholder="State / Postal Code"
                  autocomplete="off"
                  [(ngModel)]="query"
                />
                <label for="email">What are you looking for?</label>
              </div>
            </div>
            <div class="col-md-12 col-sm-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control input-ic-location input-ic-right"
                  placeholder="What are you looking for?"
                  autocomplete="off"
                  [(ngModel)]="location"
                />
                <label for="email">Location (Zip Code)</label>
              </div>
            </div>
            <div class="col-md-12 col-sm-6">
              <button class="btn btn-secondary btn-lg w-100" [disabled]="location === ''" (click)="findNewJobs()">Find Jobs</button>
            </div>

            <div class="col-12 border-gray-500 border-bottom mt-3"></div>

            @if (jobs.length > 0) {
              <div class="col-md-12 col-sm-6 d-flex gap-3 align-items-center">
                <strong class="flex-grow-0 text-gray-600 col-lg-3">Jobs Found:</strong>
                <h6 class="h5 mb-0 flex-fill">{{ jobResponse.total }} Jobs</h6>
              </div>
            }

            <div class="col-md-12 col-sm-6 d-flex flex-wrap gap-3 align-items-center">
              <strong class="flex-grow-0 text-gray-600 col-lg-3">Sort By:</strong>
              <div class="btn-group d-flex flex-fill" role="group" aria-label="Sort Jobs By">
                <input
                  (change)="findNewJobs()"
                  type="radio"
                  class="btn-check"
                  name="sort"
                  id="sortRelevance"
                  autocomplete="off"
                  value="r"
                  [(ngModel)]="sortBy"
                />
                <label class="btn btn-outline-primary border-primary h-auto py-2 btn-icon rounded-start-pill col-6" for="sortRelevance"
                  ><span class="material-symbols-outlined">list</span> Relevance</label
                >

                <input
                  (change)="findNewJobs()"
                  type="radio"
                  class="btn-check"
                  name="sort"
                  id="sortDate"
                  autocomplete="off"
                  value="d"
                  [(ngModel)]="sortBy"
                />
                <label class="btn btn-outline-primary border-primary h-auto py-2 btn-icon rounded-end-pill col-6" for="sortDate"
                  ><span class="material-symbols-outlined">calendar_month</span> Date</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col d-flex flex-column gap-3 position-relative" nrcLoader="jobsLoader">
        @for (job of jobs; track job.id; let i = $index) {
          <!-- ### Job Card -->
          <div class="bg-white rounded border hover-shadow-lg p-md-3 pe-md-4 p-4">
            <div class="row g-3">
              <div class="col-lg-2 col-sm-3 text-sm-start text-center">
                <a href="{{ job.url }}" target="_blank"><img class="img-fluid rounded border" width="140" src="{{ job.logo_url }}" /></a>
              </div>
              <div class="col-sm">
                <h4 class="h5 pt-1 mb-2 text-wrap">
                  <a href="{{ job.url }}" target="_blank" class="text-dark">{{ job.title }}</a>
                </h4>
                <ul class="row g-3 justify-content-between list-unstyled text-primary fw-bold mb-2 pt-1">
                  <li class="col d-flex gap-2 lh-sm"><span class="material-symbols-outlined">corporate_fare</span> {{ job.company }}</li>
                  <li class="col d-flex gap-2 lh-sm"><span class="material-symbols-outlined">pin_drop</span> {{ job.city[0] }}</li>
                  <li class="col-xl d-flex gap-2 lh-sm">
                    <span class="material-symbols-outlined">calendar_month</span> Posted <span>{{ job.date | timeAgo }}</span>
                  </li>
                </ul>
                <p class="line-clamp-2 mb-0" [innerHTML]="job.description"></p>
              </div>
            </div>
          </div>
        }

        @if (jobs.length > 0 && jobResponse.start < jobResponse.total) {
          <div class="col-md-12 text-center">
            <button class="btn btn-secondary btn-lg px-5" (click)="loadMoreJobs()">Load More Jobs</button>
          </div>
        }
      </div>
    </div>
  </div>
</section>

<!-- %%%%% FOOTER %%%%%% -->
<nrc-footer [showSurveysDisclaimer]="true"></nrc-footer>
