<section class="">
  <!-- survey-disclaimer -->
  @if (showSurveysDisclaimer) {
    <div class="bg-light">
      <div class="container py-4">
        <div class="col-xxl-8 col-lg-10 mx-auto bg-white rounded-3 p-3">
          <p class="mb-0 fs-sm">
            Disclaimer: The content displayed on this website is sourced from third parties and is provided for informational purposes only.
            National Resource Connect does not endorse or guarantee the accuracy or reliability of any third-party content.
          </p>
        </div>
      </div>
    </div>
  }

  <!-- ### Footer Info -->
  @if (showFooterInfo) {
    <div class="bg-gray-200 px-md-0 px-2">
      <div class="container py-lg-5 py-4">
        <div class="row g-lg-5 g-3">
          <div class="col-lg-6 me-auto">
            <img class="img-fluid" src="../../../assets/images/nrc-logo.svg" alt="NRC Logo" />

            <p class="pe-lg-5 mb-0 mt-3">
              At National Resource Connect our mission is to help you get ahead with your finances. Whether you need funding for college,
              home repairs or to transform an idea into a profitable business we are here to provide you the best grants available for you.
            </p>
          </div>

          <div class="col-lg flex-md-grow-0">
            <h4 class="mb-4">Support</h4>

            <ul class="list-unstyled d-flex flex-column gap-2">
              <li class="text-nowrap fs-5">
                <span class="material-symbols-outlined fs-lg me-1">call</span
                ><a href="tel:267-629-2037" class="ms-1 text-decoration-none text-dark">267-629-2037</a>
              </li>
              <li class="text-nowrap fs-5">
                <span class="material-symbols-outlined fs-lg me-1">mail</span
                ><a href="mailto:resources@nationalresourceconnect.com" class="ms-1 text-decoration-none text-dark"
                  >resources&#64;nationalresourceconnect.com</a
                >
              </li>
              <li class="d-flex align-items-center gap-3 mt-4">
                <!-- facebook -->
                <a target="_blank">
                  <svg-icon name="facebook-icon"></svg-icon>
                </a>
                <!-- x twitter -->
                <a target="_blank">
                  <svg-icon name="twitter-icon"></svg-icon>
                </a>
                <!-- instagram -->
                <a target="_blank">
                  <svg-icon name="instagram-icon"></svg-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  }

  <!-- ### Footer Bottom -->
  <div class="bg-dark text-white px-md-0 px-2">
    <div class="container py-4">
      <div class="d-flex flex-wrap justify-content-between gap-2">
        <span>© {{ currentYear }} National Resource Connect. All Rights Reserved.</span>

        <ul class="list-inline d-inline-flex flex-wrap gap-3 mb-0">
          <li class="list-inline-item">
            <a class="text-white" href="https://wcm.everflowclient.io/" target="_blank">Advertise With Us</a>
          </li>
          <li class="list-inline-item">
            <a class="text-white" href="/terms-policy/terms-and-conditions" target="_blank">Terms and Conditions</a>
          </li>
          <li class="list-inline-item"><a class="text-white" href="/terms-policy/privacy-policy" target="_blank">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
