<section class="py-3 pb-5 bg-light">
  <div class="container">
    <div class="col-xl-7 col-md-9 mx-auto bg-white p-lg-3 p-2 rounded-4 shadow-sm">
      <header class="mt-2 mb-4">
        <img class="img-fluid" src="../../../../assets/images/nrc-logo.svg" alt="NRC" width="150" height="60" />
      </header>

      <!-- ### Main Section -->
      <div class="bg-gray-100 p-lg-4 p-3 border border-gray-400 rounded-3 mb-5">
        <h1 class="h2 text-primary">Lorem ipsum dolor sit amet consectetur. Turpis duis volutpat malesuada at cras fames.</h1>

        <figure class="figure my-3">
          <img src="../../../assets/images/hero-image-grant.png" class="figure-img img-fluid rounded" alt="..." />
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ducimus reiciendis harum dignissimos perferendis eos quam
          praesentium. Aspernatur in nisi eos veniam, veritatis tempore recusandae vero temporibus animi magnam velit possimus, ratione
          architecto repudiandae magni qui, eligendi assumenda et fugit dignissimos impedit! Provident ratione at sequi, ex odio maxime
          voluptatem?
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, id!</p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis placeat error, consequatur quidem possimus saepe qui sapiente at
          atque corrupti sequi quam non! Perferendis, ullam.
        </p>
      </div>

      <!-- ### List Section -->
      <ul class="list-container d-flex flex-column gap-5 list-unstyled">
        <li class="list-item p-4 rounded-4 border border-dark position-relative">
          <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, blanditiis.</h2>

          <img src="../../../assets/images/hero-image-grant.png" class="img-fluid rounded my-3" alt="..." />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ducimus reiciendis harum dignissimos perferendis eos quam
            praesentium. Aspernatur in nisi eos veniam, veritatis tempore recusandae vero temporibus animi magnam velit possimus, ratione
            architecto repudiandae magni qui, eligendi assumenda et fugit dignissimos impedit! Provident ratione at sequi, ex odio maxime
            voluptatem?
          </p>
          <button class="btn btn-primary bg-gradient btn-lg w-100 mt-3">Lorem ipsum dolor sit amet.</button>
        </li>
        <li class="list-item p-4 rounded-4 border border-dark position-relative">
          <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, blanditiis.</h2>

          <img src="../../../assets/images/hero-image-grant.png" class="img-fluid rounded my-3" alt="..." />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ducimus reiciendis harum dignissimos perferendis eos quam
            praesentium. Aspernatur in nisi eos veniam, veritatis tempore recusandae vero temporibus animi magnam velit possimus, ratione
            architecto repudiandae magni qui, eligendi assumenda et fugit dignissimos impedit! Provident ratione at sequi, ex odio maxime
            voluptatem?
          </p>
          <button class="btn btn-primary bg-gradient btn-lg w-100 mt-3">Lorem ipsum dolor sit amet.</button>
        </li>
        <li class="list-item p-4 rounded-4 border border-dark position-relative">
          <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, blanditiis.</h2>

          <img src="../../../assets/images/hero-image-grant.png" class="img-fluid rounded my-3" alt="..." />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ducimus reiciendis harum dignissimos perferendis eos quam
            praesentium. Aspernatur in nisi eos veniam, veritatis tempore recusandae vero temporibus animi magnam velit possimus, ratione
            architecto repudiandae magni qui, eligendi assumenda et fugit dignissimos impedit! Provident ratione at sequi, ex odio maxime
            voluptatem?
          </p>
          <button class="btn btn-primary bg-gradient btn-lg w-100 mt-3">Lorem ipsum dolor sit amet.</button>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- ### Footer -->
<footer class="py-5">
  <div class="container">
    <div class="col-xl-7 col-md-9 mx-auto text-center">
      <img class="img-fluid mb-4" src="../../../../assets/images/nrc-logo.svg" alt="NRC" width="150" height="60" />

      <p>
        THIS IS AN ADVERTISEMENT AND MAY NOT BE CONSIDERED AN ACTUAL NEWS ARTICLE, CONSUMER AWARENESS UPDATE, OR EDITORIAL CONTENT.
        NATIONALRESOURCECONNECT.COM SERVES AS AN INDEPENDENT ENTITY FOR ADVERTISING DISSEMINATION AND SHALL NOT BE CONSIDERED A PROFESSIONAL
        ADVISOR SUCH AS A MORTGAGE BROKER, INSURANCE BROKER, FINANCIAL ADVISOR, LEGAL ADVISOR, A DOCTOR, NURSE, OR MEDICAL SPECIALIST. THIS
        SITE PROVIDES INFORMATIONAL CONTENT AND IS NOT A SUBSTITUTE FOR PROFESSIONAL FINANCIAL ADVICE OR MEDICAL ADVICE, NOR IS THE
        INFORMATION A SUBSTITUTE FOR PROFESSIONAL MEDICAL EXPERTISE OR TREATMENT. WE RECOMMEND CONSULTING A QUALIFIED FINANCIAL ADVISOR OR
        HEALTH PROFESSIONAL FOR GUIDANCE SPECIFIC TO YOUR NEEDS.
      </p>
      <p>
        IF YOU OR ANY OTHER PERSON HAS A MEDICAL CONCERN, YOU SHOULD CONSULT WITH YOUR HEALTH CARE PROVIDER OR SEEK OTHER PROFESSIONAL
        MEDICAL TREATMENT IMMEDIATELY. NEVER DISREGARD PROFESSIONAL MEDICAL ADVICE OR DELAY IN SEEKING IT BECAUSE OF SOMETHING THAT YOU HAVE
        READ ON THIS BLOG, WEBSITE OR IN ANY LINKED MATERIALS. IF YOU ARE EXPERIENCING A MEDICAL EMERGENCY, PLEASE CALL 911 OR CALL FOR
        EMERGENCY MEDICAL HELP BY PHONE IMMEDIATELY. THE AUTHOR SHALL NOT BE HELD LIABLE OR RESPONSIBLE FOR ANY MISUNDERSTANDINGS OR MISUSE
        OF THE INFORMATION PRESENTED HERE, OR ANY LOSS OR INJURY CAUSED OR ALLEGED TO BE CAUSED BY ANY ACTION OR APPLICATION OF ANY
        INFORMATION ON THIS WEBSITE OR LINKED MATERIALS.
      </p>
      <p>
        The content you're reading is designed in the style of an advertorial, courtesy of nationalresourceconnect.com. Advertorials blend
        the look and feel of an editorial with the persuasive intent of an advertisement. It’s important to note that
        nationalresourceconnect.com MAY RECEIVE MONETARY COMPENSATION FOR CLICKS, PURCHASES, OR THE REFERRAL OF LEADS MADE THROUGH THE
        MATERIAL SHARED ON THIS PAGE. nationalresourceconnect.com is an independent promotional platform offering comparative insights on
        various products and services. The images of individuals used are representational models for illustrative purposes. The assessments
        and ratings we provide are based on a well-rounded analysis of brand integrity, product range, customer interaction, and
        performance, as well as financial compensation received, all of which shape our rankings and reviews.
      </p>
      <p class="mb-4">
        Price details and offers may vary by region and income, with advertisers having their own qualifications.
        nationalresourceconnect.com does not use your data for financial transactions, but shared personal information will be passed to
        advertisers. Offers may involve subscriptions with recurring fees until you cancel. Under this agreement, you'll incur regular
        charges until you opt to cancel. For full terms and information on extra fees including shipping and handling, visit the
        advertiser’s site and review their terms and conditions. Trademarks featured on our website are the property of their respective
        owners, with no endorsement of our website or services implied or expressed. As an independently owned platform, we offer insights
        and feedback on products and services based solely on our in-depth research and the expertise of our editorial team. The opinions
        here are entirely our own. While we strive for accuracy, all information available on this site is provided as is and subject to
        change without notice, as detailed in our Terms of Use. We disclaim all warranties related to the information presented.
      </p>
      <small>©2025 nationalresourceconnect.com. All Rights Reserved.</small>
    </div>
  </div>
</footer>
