<!-- %%%%% HEADER %%%%% -->
<header class="px-2 pt-2 position-fixed top-0 start-0 w-100">
  <nrc-header [showPrivacyInfoPill]="true"></nrc-header>
</header>

<!-- %%%%% PAGE TITLE SECTION %%%%%% -->
<section class="top-section-pt-sm bg-primary text-white">
  <div class="container text-center pt-0 p-4">
    <div class="col-xl-8 col mx-auto">
      <!-- <h1 class="h3 ls-sm">Title fo this ad page</h1> -->
    </div>
  </div>
</section>

<!-- %%%%% SURVEYS SECTION %%%%%% -->
<section class="survey-content-section py-3 bg-light">
  <div class="container pt-md-5" nrcLoader="offersLoader">
    @if (surveyOffers) {
      <div class="col-xl-8 col-lg-10 mx-auto">
        <div class="d-flex flex-column bg-white rounded shadow">
          <!-- Body -->
          <div class="p-4 position-relative">
            @if (surveyOffers[currentIndex].sponsoredOffer) {
              <p class="sponsored-badge">Sponsored</p>
            }

            <div class="row g-4 align-items-center">
              @if (surveyOffers[currentIndex].offerType === 'LINKOUT') {
                <div class="col-md-4 text-md-start text-center">
                  <img class="img-fluid rounded" [src]="surveyOffers[currentIndex].imageUrl" />
                </div>
              }

              <div class="col-12 text-center" [ngClass]="{ 'col-md-8 text-md-start': surveyOffers[currentIndex].offerType === 'LINKOUT' }">
                <h4 class="h3">{{ surveyOffers[currentIndex].title }}</h4>
                <p class="fs-lg">
                  {{ surveyOffers[currentIndex].description }}
                </p>
              </div>
            </div>
          </div>

          <!-- Foot -->
          <div class="d-flex gap-3 justify-content-md-end justify-content-center bg-gray-100 border-top p-3 rounded-bottom">
            <button (click)="onPressYes(surveyOffers[currentIndex])" class="btn btn-secondary btn-lg px-5 btn-icon" type="button">
              {{ surveyOffers[currentIndex].yesButtonText || 'Yes' }}
            </button>
            <button (click)="onPressNo()" class="btn btn-dark btn-lg px-5 btn-icon" type="button">
              {{ surveyOffers[currentIndex].noButtonText || 'No' }}
            </button>
          </div>
        </div>
      </div>
    }
  </div>
</section>

<!-- %%%%% FOOTER %%%%%% -->
<nrc-footer [showSurveysDisclaimer]="true"></nrc-footer>
