.hero-section {
  background: no-repeat var(--bs-light) 55% 0% / auto 100%;
  // min-height: 650px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(480px, auto);

  @media all and (max-width: 992px) {
    background-size: cover !important;
    background-position-x: 100%;
  }
  @media all and (max-width: 767px) {
    .hero-heading {
      font-size: 2rem;
    }
  }
}
