.hero-section {
  background: no-repeat var(--bs-light) 55% 0% / auto 100%;
  // min-height: 650px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(600px, auto);

  @media all and (max-width: 992px) {
    background-size: cover !important;
    background-position-x: 100%;
  }
}

.check-list {
  li {
    padding-inline-start: 2rem;
    &::before {
      font-family: 'Material Symbols Outlined';
      content: '\e5ca';
      color: var(--bs-white);
      line-height: 1;
      width: 1em;
      height: 1em;
      background-color: var(--bs-primary);
      position: absolute;
      top: 0.3rem;
      left: 0;
      border-radius: 1em;
    }
  }
}
