<div class="position-relative">
  <div class="modal-body text-center py-5">
    <div class="mb-2 display-6">
      <span class="material-symbols-outlined text-danger"> {{ data.icon }} </span>
    </div>

    <h4 class="h5 mb-1">{{ data.heading }}</h4>

    <p class="text-gray-600 mb-0 fs-5" [innerHTML]="data.message"></p>
  </div>

  <div class="modal-footer gap-3 justify-content-center border-0 py-3">
    <button type="button" class="btn btn-outline-primary" (click)="onClose(false)">{{ data.cancelButtontext }}</button>
    <button type="button" class="btn btn-primary text-white" (click)="onContinue()">{{ data.yesButtonText }}</button>
  </div>
</div>
