<!-- %%%%% HEADER %%%%% -->
<header class="px-2 pt-2 position-fixed top-0 start-0 w-100">
  <nrc-header></nrc-header>
</header>

<!-- %%%%% PAGE TITLE SECTION %%%%%% -->
<section class="top-section-pt-sm bg-primary text-white">
  <div class="container text-center pt-0 p-4">
    <div class="col-xl-8 col mx-auto">
      <h1 class="h3 ls-sm">Marketing Associates</h1>
    </div>
  </div>
</section>

<!-- %%%%% MARKETING SECTION %%%%%% -->
<section class="min-vh-50">
  <div class="container-lg min-vh-50 d-md-flex flex-column justify-content-center py-4">
    <div
      nrcLoader="marketingAssociateLoader"
      class="d-flex justify-content-center flex-wrap align-items-center position-relative gap-3 bg-light rounded border p-xl-5 p-4 col-xl-6 col-md-8 mx-auto bg-pattern-topography bg-pattern-topography-dark"
    >
      @for (marketingAssociate of marketingAssociates; track marketingAssociate.id) {
        <strong class="bg-white px-4 py-2 fs-md rounded-pill shadow-sm fw-medium">{{ marketingAssociate.name }}</strong>
      }
    </div>
  </div>
</section>

<!-- %%%%% FOOTER %%%%%% -->
<nrc-footer [showFooterInfo]="true"></nrc-footer>
