<div class="modal-header">
  <h5 class="modal-title h5 text-primary">Sign Up using Password</h5>

  <button type="button" class="btn btn-white p-0" aria-label="Close" (click)="onClose(false)">
    <span class="material-symbols-outlined fs-5">close</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <h5 class="h6 mb-2">Enter password to skip email validation</h5>

      <div class="form-floating">
        <input placeholder=" " type="password" [(ngModel)]="password" autocomplete="new-password" class="form-control" id="new-password" />
        <label for="new-password">Password</label>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onContinue()">Continue</button>
</div>
