<!-- %%%%% PAGE TITLE SECTION %%%%%% -->
<section class="bg-primary bg-pattern-topography" style="margin-top: -1rem">
  <div class="container-lg p-4 pt-0 position-relative" style="bottom: -6rem">
    <!-- ### Hero details -->
    <h1 class="h1 fw-medium pe-xl-5 hero-heading text-center mb-4 text-white col-xxl-8 col-lg-10 mx-auto d-md-block d-none pt-4">
      Empowering you with <u>financial opportunities</u> that foster growth and inspire meaningful change.
    </h1>
    <div class="col-xl-6 col-sm-7 mx-auto mt-md-0 mt-3">
      <div class="rounded-3 border border-primary border-2 bg-glass p-3 pb-0 position-relative shadow-lg" style="--bg-alpha: 0.86">
        <h2 class="h3 text-center">Find the Support You Need</h2>
        <h6 class="text-primary text-center mb-3">Join Now for Access!</h6>
        <nrc-signup-form signUpButtonText="Get Started"></nrc-signup-form>
      </div>
    </div>
  </div>
</section>

<!-- %%%%% DISCOVER ASSISTANCE AND  SUPPORT RESOURCES SECTION %%%%%% -->
<section class="py-5">
  <div class="container pt-5 text-center position-relative">
    <h2 class="display-5 fw-bold mb-3">
      Discover Assistance and <br class="d-sm-block d-none" />
      Support Resources
    </h2>
    <p class="fs-5 text-gray-600 col-lg-8 mx-auto mb-md-5 mb-4">
      We aim to be your go-to resource for exploring different assistance options. With our detailed financial aid blog and optional
      assistance survey, uncover new ways to tackle everyday challenges.
    </p>

    <div class="row g-lg-4 g-3 text-start mb-lg-5 mb-4">
      <div class="col-lg-4 col-md-6">
        <div class="bg-gray-100 border p-4 rounded-3 shadow-sm h-100">
          <h6 class="text-primary h4 fw-medium"><span class="material-symbols-outlined">school</span> Education</h6>
          <p class="mb-0 fs-md">
            The agencies & private sector has billions of dollars set aside to give out for social programs to help Americans in need. You
            can check your eligibility today!
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="bg-gray-100 border p-4 rounded-3 shadow-sm h-100">
          <h6 class="text-primary h4 fw-medium"><span class="material-symbols-outlined">accessible_forward</span> Disability Benefits</h6>
          <p class="mb-0 fs-md">
            We aim to be your go-to resource for exploring different assistance options. With our detailed financial aid blog and optional
            assistance survey, uncover new ways to tackle everyday challenges.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="bg-gray-100 border p-4 rounded-3 shadow-sm h-100">
          <h6 class="text-primary h4 fw-medium"><span class="material-symbols-outlined">health_and_safety</span> Insurance</h6>
          <p class="mb-0 fs-md">
            We specialize in offering full support for Medicare supplement insurance, long-term care, short-term care, specialized health
            coverage, life insurance, annuities, and retirement planning.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="bg-gray-100 border p-4 rounded-3 shadow-sm h-100">
          <h6 class="text-primary h4 fw-medium"><span class="material-symbols-outlined">assured_workload</span> Debt Assistance</h6>
          <p class="mb-0 fs-md">
            Dealing with debt can be overwhelming, but you don’t have to do it alone. Personal loans and debt repair services can help you
            take control and move toward a stronger financial future.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="bg-gray-100 border p-4 rounded-3 shadow-sm h-100">
          <h6 class="text-primary h4 fw-medium"><span class="material-symbols-outlined">home_and_garden</span> Housing</h6>
          <p class="mb-0 fs-md">
            Local organizations offer housing programs and benefits for low-income families struggling to find housing. Explore available
            options in your area to receive support.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="bg-gray-100 border p-4 rounded-3 shadow-sm h-100">
          <h6 class="text-primary h4 fw-medium"><span class="material-symbols-outlined">approval_delegation</span> Financial Resources</h6>
          <p class="mb-0 fs-md">
            Discover a variety of trusted resources for assistance with our free tool, designed to streamline your search and quickly
            connect you to the support you need.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- %%%%% ABOUT US %%%%%% -->
<section class="py-md-5 py-4 bg-light">
  <div class="container py-lg-5 p-4 text-center position-relative">
    <div class="rounded-4 bg-white p-lg-5 p-4">
      <h3 class="h1 fw-medium mb-3">About us</h3>
      <p class="col-xl-10 mx-auto text-center fs-lg mb-0">
        The {{ domainInfo.domain }} is a platform created to offer access to a wealth of content and resources covering various topics,
        including personal finance, education, employment, insurance, taxes, government assistance, and potential money-saving
        opportunities. We are dedicated to enhancing the lives of our members while fostering the growth of a supportive community.
      </p>
    </div>
  </div>
</section>
