<div class="form-group" [formGroup]="form">
  @if (form.controls[question.id].dirty && form.controls[question.id].errors) {
    <div class="form-control-feedback">
      @if (form.controls[question.id].hasError('REQUIRED')) {
        <div>Please select a date</div>
      }
    </div>
  }

  <div class="col-lg-7 mt-3">
    <input
      type="text"
      class="form-control input-ic-date input-ic-right"
      onkeydown="event.preventDefault()"
      formControlName="dob"
      placeholder="Date of Birth"
      autocomplete="off"
      readonly
      bsDatepicker
      [minDate]="dobMinMaxDates.minDate"
      [maxDate]="dobMinMaxDates.maxDate"
      [bsConfig]="{ adaptivePosition: true, showWeekNumbers: false }"
    />
  </div>
</div>
