<section class="hero-section px-3 py-4 bg-light bg-gradient">
  <div class="container-md">
    <div class="py-3">
      <div class="text-md-start text-center">
        <img src="../../../../assets/images/nrc-logo.svg" alt="" width="160" height="64" class="img-fluid" />
      </div>
    </div>
    <div class="row g-3">
      <div class="col-lg-6">
        <h1 class="h1 fw-bold text-primary">
          <span class="d-md-block d-none">
            Welcome to <br class="d-xl-block d-none" />
            National Resource Connect</span
          >
          <span class="d-md-none d-block mt-3 text-center">GET READY TO F.I.R.E.</span>
        </h1>
        <p class="d-md-block d-none">
          At National Resource Connect, our mission is simple: to empower you with practical guidance for smarter living. We believe that
          everyone deserves access to tools and insights that help them save in daily life, make thoughtful investments, and achieve
          independence at their own pace.
        </p>
        <img
          class="img-fluid rounded-4 border shadow d-md-block d-none"
          width="500"
          height="500"
          src="../../../../assets/images/guide-hero.jpg"
          alt=""
        />
      </div>
      <div class="col-lg-6">
        <div class="border rounded-4 p-3 pb-0 bg-white shadow-sm">
          <nrc-signup-form signUpButtonText="Unlock My Savings!"></nrc-signup-form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- %%%%% DISCOVER GRANT OPPORTUNITIES SECTION %%%%%% -->
<section class="py-5 px-md-0 px-2">
  <div class="container py-xl-4 position-relative">
    <div class="row g-4 mb-5">
      <div class="col-xl-4">
        <div class="card w-100 h-100 border-primary shadow">
          <div class="card-body p-lg-4">
            <h3 class="h2 fw-bold mb-3 text-primary">
              Your Guide to <br class="d-xl-block d-none" />
              Smarter Savings
            </h3>
            <p class="card-text">
              Whether it’s cutting down on everyday expenses or optimizing your budget for long-term benefits, we provide actionable
              strategies to help you save more without sacrificing the things that matter most. From simple lifestyle adjustments to tips on
              energy efficiency, grocery shopping, and mindful spending, we’re here to make saving effortless and impactful.
            </p>
          </div>
          <img class="card-img-bottom img-fluid" width="500" height="500" src="../../../../assets/images/save-img-01.jpg" alt="" />
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card w-100 h-100 border-success shadow">
          <div class="card-body p-lg-4">
            <h3 class="h2 fw-bold mb-3 text-success">
              Investing in the <br class="d-xl-block d-none" />
              Right Places
            </h3>
            <p class="card-text">
              Investing wisely doesn’t have to be intimidating. Our resources are designed to demystify the world of investing, helping you
              navigate opportunities that align with your goals. Learn how to grow your savings responsibly by focusing on sustainable and
              low-risk options that work for you.
            </p>
          </div>
          <img class="card-img-bottom img-fluid" width="500" height="500" src="../../../../assets/images/save-img-03.jpg" alt="" />
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card w-100 h-100 border-danger shadow">
          <div class="card-body p-lg-4">
            <h3 class="h2 fw-bold mb-3 text-danger">
              Retire Early, <br class="d-xl-block d-none" />
              Stress-Free
            </h3>
            <p class="card-text">
              Retiring early isn’t just a dream—it’s a goal you can work toward with the right approach. Explore our expert tips on planning
              for the future, setting achievable milestones, and building a safety net to enjoy the freedom of an early retirement.
            </p>
          </div>
          <img class="card-img-bottom img-fluid" width="500" height="500" src="../../../../assets/images/save-img-02.jpg" alt="" />
        </div>
      </div>
    </div>

    <div class="text-center col-md-8 mx-auto">
      <p class="fs-lg mb-4">
        At National Resource Connect, we’re dedicated to helping you live better today while preparing for a brighter tomorrow. Let’s take
        the first step toward a life of smart choices and lasting peace of mind.
      </p>
      <button class="btn btn-dark btn-lg px-xl-5" (click)="trackClickAndScrollToTop()">Start your journey with us today!</button>
    </div>
  </div>
</section>

<!-- %%%%% FOOTER %%%%%% -->
<section class="bg-dark px-md-0 px-2">
  <div class="container py-5 border-bottom border-gray-700">
    <p class="fs-sm col-xl-7 mx-auto text-center mb-0 text-gray-500 lh-md">
      This website is owned and operated by National Resource Connect. By registering for access to any portion of this website or by using
      any portion of this website, you agree to be bound by these terms and conditions. Please review our other policies, such as our
      privacy policy. These policies also govern your use of this website. If you do not agree to be bound by these terms and conditions, do
      not proceed any further and do not use this website.
    </p>
  </div>
</section>
<nrc-footer></nrc-footer>
