<!-- %%%%% HEADER %%%%% -->
<header class="px-2 pt-2 position-fixed top-0 start-0 w-100">
  <nrc-header></nrc-header>
</header>

<!-- %%%%% PAGE TITLE SECTION %%%%%% -->
<section class="top-section-pt-sm bg-primary text-white">
  <div class="container text-center pt-0 p-4">
    <div class="col-xl-8 col mx-auto">
      <h1 class="h3 ls-sm">Privacy Policy</h1>
    </div>
  </div>
</section>

<!-- %%%%% MARKETING SECTION %%%%%% -->
<section class="bg-light min-vh-50">
  <div class="container-lg min-vh-50 d-md-flex flex-column justify-content-center py-4">
    <div class="bg-white rounded border p-xl-5 p-4 col-xl-7 col-md-10 mx-auto shadow">
      <p><em>Last Updated: November 1st, 2024</em></p>

      <!-- ### GENERAL ### -->
      <h2 class="h5 mt-4">GENERAL</h2>
      <p>
        Your privacy is important to us. This privacy policy is intended to give you confidence in the privacy and security of the personal
        information we obtain from you whether you are browsing our website or submitting a search for available clinical trials.
      </p>

      <p>
        This privacy policy governs our collection, use, and disclosure of your Personal Information in connection with your use of our
        website(s) on which this Privacy Policy is linked (“Sites”), such as nationalresourceconnect.com.
      </p>

      <p>
        Please carefully read this privacy policy, which is part of our Terms of Use, before using our Sites. If you do not agree with our
        Terms of Use or this Privacy Policy, you must refrain from using our Sites. By accessing our Sites, you agree to our use of your
        information consistent with our Terms of Use and this Privacy Policy.
      </p>

      <!-- ### COLLECTION OF PERSONAL INFORMATION  ### -->
      <h2 class="h5 mt-4">COLLECTION OF PERSONAL INFORMATION</h2>
      <p>
        We may ask you to provide us with personal information when you use the Sites, submit a clinical trial search, and at other times.
        You are not required to provide us your personal information; however, if you choose not to provide the requested information, you
        may not be able to use some or all of the features of the Sites or we may not be able to fulfill your requested interaction. The
        information we may ask you to provide includes your name, address, email address, telephone number, and other information you may
        voluntarily provide on online forms or the Sites’ chat feature.
      </p>
      <p>
        We automatically collect information in connection with the actions you take on the Sites. For example, each time you visit our
        website, we may collect the type of web browser you use, the type of device you use, the type of your operating system, the name of
        your Internet Service Provider, the pages you view on our Sites, referring and exit pages, the date and time of your visit, and the
        number of clicks to, from, and within the Sites, and the duration of your visits to the Sites. If this information is reasonably
        capable of being associated with you, we treat it as Personal Information.
      </p>
      <p>
        We collect information using cookies (a small text file placed on your computer) and other automated tools such as tracking pixels
        to improve the experience of the Sites. Many web browsers are initially set up to accept cookies. You can change your web browser to
        refuse all cookies or to indicate when a cookie is being sent. Instructions for how to manage cookies in popular browsers are
        available at: Internet Explorer, Firefox, Chrome, Safari (iOS), Safari (Mac), and Opera. However, certain features of the Sites may
        not work properly if you delete or disable cookies.
      </p>

      <!-- ### USE OF PERSONAL INFORMATION  ### -->
      <h2 class="h5 mt-4">USE OF PERSONAL INFORMATION</h2>
      <p>To allow us to answer your questions and direct you to clinical trials seeking participants.</p>
      <p>When you request, to connect you with vendors who will provide you with information about products and services.</p>
      <p>To respond to your inquiries and fulfill your requests, such as to send you newsletters.</p>
      <p>
        To send you important information regarding the Site, changes to our terms, conditions, and policies and/or other administrative
        information.
      </p>
      <p>To send you surveys and marketing communications that we believe may be of interest to you.</p>
      <p>
        To personalize your experience on the Site and our other websites by presenting advertising, products and offers tailored to you.
      </p>
      <p>
        To allow you to participate in sweepstakes, contests and similar promotions and to administer these activities. Some of these
        activities have additional rules, which could contain additional information about how we use and disclose your Personal
        Information, so we suggest that you read these rules carefully.
      </p>
      <p>
        For our business purposes, such as data analysis, audits, developing new products, enhancing our website, improving our services,
        identifying usage trends and determining the effectiveness of our promotional campaigns.
      </p>

      <!-- ### DISCLOSURE OF PERSONAL INFORMATION   ### -->
      <h2 class="h5 mt-4">DISCLOSURE OF PERSONAL INFORMATION</h2>
      <p>Your personal information will never be sold and may only be shared for reasons listed below.</p>
      <strong>We may disclose your personal information:</strong>
      <ul class="mt-2">
        <li>
          to our third party service providers who provide services such as contact information verification, payment processing, order
          fulfillment, customer service, website hosting, data analysis, infrastructure provision, IT services, email delivery services,
          auditing services and other similar services to enable them to provide services.
        </li>
        <li>
          as we believe to be necessary or appropriate:
          <ul style="list-style-type: decimal">
            <li>under applicable law, including laws outside your country of residence;</li>
            <li>to comply with legal process;</li>
            <li>
              to respond to requests from public and government authorities including public and government authorities outside your country
              of residence;
            </li>
            <li>to enforce our terms and conditions;</li>
            <li>to protect our operations or those of any of our affiliates;</li>
            <li>to protect our rights, privacy, safety or property, and/or that of our affiliates, you or others; and</li>
            <li>to allow us to pursue available remedies or limit the damages that we may sustain.</li>
          </ul>
        </li>
      </ul>

      <!-- ### YOUR CALIFORNIA PRIVACY RIGHTS  ### -->
      <h2 class="h5 mt-4">YOUR CALIFORNIA PRIVACY RIGHTS</h2>
      <p>
        If you are a resident of California, you may opt-out of having your Personal Information shared, please let us know by sending us an
        email at <a href="mailto:optout@nationalresourceconnect.com">optout&#64;nationalresourceconnect.com</a>.
      </p>

      <!-- ### SECURITY  ### -->
      <h2 class="h5 mt-4">SECURITY</h2>
      <p>
        All security on our Websites is treated seriously. Where applicable, we undertake security steps, including use of SSL technology,
        on our back-end systems that store customer account information and to protect data transmissions. However, this is not a guarantee
        that such data transmissions cannot be accessed, altered or deleted due to firewall or other security software failures.
      </p>

      <!-- ### COMPLIANCE WITH LAWS AND LAW ENFORCEMENT   ### -->
      <h2 class="h5 mt-4">COMPLIANCE WITH LAWS AND LAW ENFORCEMENT</h2>
      <p>
        We cooperate with government and law enforcement officials and private parties to enforce and comply with the law. We may disclose
        personal information and any other information about you to government or law enforcement officials or private parties if, in our
        sole discretion, we believe it is necessary or appropriate to respond to legal requests (including court orders, investigative
        demands, and subpoenas), to protect the safety, property, or rights of ourselves, consumers, or any other third party, to prevent or
        stop any illegal, unethical, or legally actionable activity, or to comply with law.
      </p>

      <!-- ### OTHER TRANSFERS    ### -->
      <h2 class="h5 mt-4">OTHER TRANSFERS</h2>
      <p>
        We may share personal information with businesses controlling, controlled by, or under common control with us. If we are merged,
        acquired, or sold, or in the event of a transfer of some or all of our assets, we may disclose or transfer personal information in
        connection with such transaction.
      </p>

      <!-- ### CALIFORNIA “DO NOT TRACK” DISCLOSURE     ### -->
      <h2 class="h5 mt-4">CALIFORNIA “DO NOT TRACK” DISCLOSURE</h2>
      <p>
        “Do Not Track” is a web browser privacy preference that causes the web browser to broadcast a signal to websites requesting that a
        user’s activity not be tracked. Currently, our Sites do not respond to “Do Not Track” signals.
      </p>

      <!-- ### POLICY CHANGES ### -->
      <h2 class="h5 mt-4">POLICY CHANGES</h2>
      <p>
        Changes in this policy will be posted on our Sites. You are advised to check our Sites regularly to view our most recent privacy
        policy.
      </p>

      <!-- ### Contact Us ### -->
      <h2 class="h5 mt-4">CONTACT US</h2>
      <p>
        If you have any questions about the practices of the Site or this Agreement, please e-mail us at
        <a href="mailto:optout@nationalresourceconnect.com">optout&#64;nationalresourceconnect.com</a>, or send a letter to National
        Resources Connect: 4387 W Swamp Rd #147 Doylestown PA 18902 USA
      </p>

      <p>
        Opt-out from receiving any emails here:
        <a href="https://nationalresourceconnect.com/unsubscribe" target="_blank">https://www.nationalresourceconnect.com/unsubscribe</a>
      </p>
    </div>
  </div>
</section>

<!-- %%%%% FOOTER %%%%%% -->
<nrc-footer [showFooterInfo]="true"></nrc-footer>
