<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" nrcLoader="signupLoader">
  <div class="row g-2 mb-2">
    @if (error !== '') {
      <alert class="col-12" type="danger" [dismissible]="true"> {{ error }} </alert>
    }

    <div class="col-12">
      <nrc-form-control name="Name">
        <div class="form-floating">
          <input type="text" class="form-control" formControlName="fullName" placeholder="Your Full Name" autocomplete="off" />
          <label for="fullName">Your Full Name</label>
        </div>
      </nrc-form-control>
    </div>

    <div class="col-12">
      <nrc-form-control name="Email">
        <div class="form-floating">
          <input type="email" class="form-control" formControlName="email" placeholder="Email Address" autocomplete="off" />
          <label for="email">Email Address</label>
        </div>
      </nrc-form-control>
    </div>

    <!-- <div class="col-sm-6">
      <nrc-form-control name="Gender">
        <div class="form-floating">
          <select class="form-select" formControlName="gender" id="gender" aria-label="Gender">
            <option disabled>Select</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
          <label for="gender">Gender</label>
        </div>
      </nrc-form-control>
    </div> -->

    @if (showAddressField) {
      <div class="col-12">
        <nrc-form-control name="Street Address">
          <div class="form-floating">
            <input type="text" class="form-control" formControlName="address" placeholder="Address (Optional)" autocomplete="off" />
            <label for="address">Address (Optional)</label>
          </div>
        </nrc-form-control>
      </div>
    }

    <div class="col-12" [ngClass]="{ 'col-sm-5': signupFlow.formFields.length > 3 }">
      <nrc-form-control name="Zip Code">
        <div class="form-floating">
          <input type="text" class="form-control" formControlName="zipCode" placeholder="Zip Code" mask="00000" autocomplete="off" />
          <label for="text">Zip Code</label>
        </div>
      </nrc-form-control>
    </div>

    @if (showDobField) {
      <div class="col-sm-7">
        <nrc-form-control name="Date of Birth">
          <div class="form-floating">
            <input
              type="text"
              class="form-control input-ic-date input-ic-right"
              onkeydown="event.preventDefault()"
              formControlName="dob"
              placeholder="Date of Birth"
              autocomplete="off"
              readonly
              bsDatepicker
              [minDate]="dobMinMaxDates.minDate"
              [maxDate]="dobMinMaxDates.maxDate"
              [bsConfig]="{ adaptivePosition: true, showWeekNumbers: false }"
            />
            <label for="text">Date of Birth</label>
          </div>
        </nrc-form-control>
      </div>
    }

    @if (showPhoneField) {
      <div class="col-12" [ngClass]="{ 'col-md-8': signupFlow.formFields.length <= 4 }">
        <nrc-form-control name="Phone Number">
          <div class="form-floating">
            <input
              type="text"
              mask="(000) 000-0000"
              class="form-control"
              formControlName="phone"
              placeholder="Phone Number (Optional)"
              autocomplete="off"
            />
            <label for="text">Phone Number (Optional)</label>
          </div>
        </nrc-form-control>
      </div>
    }

    <input id="leadid_token" name="universal_leadid" type="hidden" #leadIdToken />
  </div>

  <p class="mt-3 d-flex gap-1">
    <input class="form-check-input mt-0" type="checkbox" id="leadid_tcpa_disclosure" />
    <small class="fs-sm lh-sm"
      >By checking this box, I consent to the email, call and SMS receive automated texts from National Resource Connect. Message frequency
      varies. Message and data rates may apply. I understand I may opt-out of SMS communication by replying 'STOP'. Consent to receive texts
      is not required as a condition of purchasing any products or services. I understand I will receive marketing communications to the
      phone number provided to National Resource Connect, which includes wireless numbers and, if applicable, numbers previously registered
      on the DNC registry. Carriers are not liable for any delayed or undelivered messages. I agree with the
      <a href="/terms-policy/terms-and-conditions" target="_blank" rel="noopener noreferrer">Terms and Conditions</a> and
      <a href="/terms-policy/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>.

      @if (showDataPolicy) {
        I understand the
        <button
          class="btn btn-flat text-primary align-baseline fs-sm fw-normal lh-sm"
          type="button"
          (click)="openDataPoliciesPopupComponent()"
        >
          data policy
        </button>
        that govern this site, how my data is used, disclosed, and shared & what I get as a user.
      }
    </small>
  </p>

  <button class="btn btn-secondary px-md-5 px-4 btn-lg btn-icon w-100 mb-3" type="submit">
    {{ signUpButtonText }} <span class="material-symbols-outlined">arrow_forward</span>
  </button>

  <div class="text-center">
    <p class="d-inline-flex align-items-center bg-primary text-white px-2 py-1 rounded-top mb-0">
      <span class="material-symbols-outlined">lock_person</span> <span class="ms-1"> Your information is kept 100% confidential.</span>
    </p>
  </div>
</form>
