<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" nrcLoader="signupLoader">
  <div class="row g-2 mb-2">
    @if (error !== '') {
      <alert class="col-12" type="danger" [dismissible]="true"> {{ error }} </alert>
    }

    <div class="col-12">
      <nrc-form-control name="Name">
        <div class="form-floating">
          <input type="text" class="form-control" formControlName="fullName" placeholder="Your Full Name" autocomplete="off" />
          <label for="fullName">Your Full Name</label>
        </div>
      </nrc-form-control>
    </div>

    <div class="col-12">
      <nrc-form-control name="Email">
        <div class="form-floating">
          <input type="email" class="form-control" formControlName="email" placeholder="Email Address" autocomplete="off" />
          <label for="email">Email Address</label>
        </div>
      </nrc-form-control>
    </div>

    <!-- <div class="col-sm-6">
      <nrc-form-control name="Gender">
        <div class="form-floating">
          <select class="form-select" formControlName="gender" id="gender" aria-label="Gender">
            <option disabled>Select</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
          <label for="gender">Gender</label>
        </div>
      </nrc-form-control>
    </div> -->

    @if (showAddressField) {
      <div class="col-12">
        <nrc-form-control name="Street Address">
          <div class="form-floating">
            <input type="text" class="form-control" formControlName="address" placeholder="Address (Optional)" autocomplete="off" />
            <label for="address">Address (Optional)</label>
          </div>
        </nrc-form-control>
      </div>
    }

    <div class="col-12" [ngClass]="{ 'col-sm-5': signupFlow.formFields.length > 3 }">
      <nrc-form-control name="Zip Code">
        <div class="form-floating">
          <input type="text" class="form-control" formControlName="zipCode" placeholder="Zip Code" mask="00000" autocomplete="off" />
          <label for="text">Zip Code</label>
        </div>
      </nrc-form-control>
    </div>

    @if (showDobField) {
      <div class="col-sm-7">
        <nrc-form-control name="Date of Birth">
          <div class="form-floating">
            <input
              type="text"
              class="form-control input-ic-date input-ic-right"
              onkeydown="event.preventDefault()"
              formControlName="dob"
              placeholder="Date of Birth"
              autocomplete="off"
              readonly
              bsDatepicker
              [minDate]="dobMinMaxDates.minDate"
              [maxDate]="dobMinMaxDates.maxDate"
              [bsConfig]="{ adaptivePosition: true, showWeekNumbers: false }"
            />
            <label for="text">Date of Birth</label>
          </div>
        </nrc-form-control>
      </div>
    }

    @if (showPhoneField) {
      <div class="col-12" [ngClass]="{ 'col-md-8': signupFlow.formFields.length <= 4 }">
        <nrc-form-control name="Phone Number">
          <div class="form-floating">
            <input
              type="text"
              mask="(000) 000-0000"
              class="form-control"
              formControlName="phone"
              placeholder="Phone Number (Optional)"
              autocomplete="off"
            />
            <label for="text">Phone Number (Optional)</label>
          </div>
        </nrc-form-control>
      </div>
    }

    <input id="leadid_token" name="universal_leadid" type="hidden" #leadIdToken />
  </div>

  <div class="d-flex gap-1 my-3">
    <input class="form-check-input mt-0" type="checkbox" id="leadid_tcpa_disclosure" />

    <p class="fs-sm lh-1 mb-0">
      By checking the box and clicking ‘Unlock My Benefits’ I confirm that I have read and agree to be contractually bound to the
      <a [href]="showDataPolicy ? '/terms-policy/terms-and-conditions' : '/other/terms'" target="_blank" rel="noopener noreferrer">Terms</a>
      and
      <a [href]="showDataPolicy ? '/terms-policy/privacy-policy' : '/other/privacy'" target="_blank" rel="noopener noreferrer"
        >Privacy Policy</a
      >, and I expressly consent agree to receive recurring emails, phone calls and/or text message offers and communications from
      nationalresourceconnect.com at any telephone number or email address provided by me, including my wireless number if provided. I
      understand there may be a charge by my wireless carrier for such communications. I understand these communications may be generated
      using an automated system for the selection or dialing of telephone numbers and may contain pre-recorded messages and that consent is
      not required to utilize nationalresourceconnect.com's services. Consent to receive texts is not required as a condition of purchasing
      any products and services. I understand that this authorization overrides any previous registrations on a federal or state Do Not Call
      registry. For SMS message campaigns: Text STOP to stop and HELP for help. Msg & data rates may apply. Message frequency may vary; max.
      30/month.
      <br />
      @if (showDataPolicy) {
        I understand the
        <button class="btn btn-flat text-primary align-baseline fs-sm fw-normal" type="button" (click)="openDataPoliciesPopupComponent()">
          data policy
        </button>
        that govern this site, how my data is used, disclosed, and shared & what I get as a user.
      }
    </p>
  </div>

  <button class="btn btn-secondary px-md-5 px-4 btn-lg btn-icon w-100 mb-3" type="submit">
    {{ signUpButtonText }} <span class="material-symbols-outlined">arrow_forward</span>
  </button>

  <div class="text-center">
    <p class="d-inline-flex align-items-center bg-primary text-white px-2 py-1 rounded-top mb-0">
      <span class="material-symbols-outlined">lock_person</span> <span class="ms-1"> Your information is kept 100% confidential.</span>
    </p>
  </div>
</form>
