@for (question of page.questions; track question.id; let i = $index) {
  @if (question.visible) {
    <div class="mb-4 pb-1">
      <!-- ### Question -->
      <h6 class="h5" [innerHTML]="question.text"></h6>

      <!-- ### Options -->
      <ng-container nrcDynamicQuestionRenderer [form]="form" [question]="question" (valueChange)="showInterlinkedQuestions($event)">
      </ng-container>
    </div>
  }

  <!-- <div class="pixel-consent-panel" *ngIf="pixelConsentText !== ''">
    <p [innerHTML]="pixelConsentText"></p>
  </div> -->
}
