<!-- %%%%% PAGE TITLE SECTION %%%%%% -->
<section class="top-section-pt-sm bg-primary text-white">
  <div class="container text-center pt-0 p-4">
    <div class="col-xl-8 col mx-auto">
      <h1 class="h3 ls-sm">Privacy Policy</h1>
    </div>
  </div>
</section>

<!-- %%%%% PRIVACY SECTION %%%%%% -->
<section class="bg-light min-vh-50">
  <div class="container-lg min-vh-50 d-md-flex flex-column justify-content-center py-4">
    <div class="bg-white rounded border p-xl-5 p-4 col-xl-7 col-md-10 mx-auto shadow">
      This <strong>privacy policy</strong> was created to let you know what information we collect from you, what we do with it, and to
      assure you that your information will be respected on our Web site: {{ domainInfo.domain }}. (referred to herein as "Provider", the
      "Site", "we" or "us"). The Provider attempts to protect your privacy to the maximum extent possible.<br />
      We currently offer users the option of participating in online marketing campaigns to request quotes on products including but not
      limited to insurance and automotive products (referred to herein as "Services"). By using the Site and the Services, you consent to
      the following terms.<br />
      YOUR VISITATION, USE, AND REGISTRATION ON THIS SITE MEAN THAT YOU ACCEPT THE PRACTICES SET FORTH IN THIS POLICY. WE RESERVE THE RIGHT
      TO MAKE CHANGES TO THE POLICY AT ANY TIME. YOUR CONTINUED USE INDICATES YOUR AGREEMENT TO THE CHANGES. IT IS YOUR SOLE RESPONSIBILITY
      TO CHECK BACK REGULARLY FOR UPDATES TO THIS POLICY.<br /><br />

      <strong>This policy covers the following topics:</strong> <br />
      <ul>
        <li>What personally identifiable information is collected from you through the Site or the Services;</li>
        <li>How the information is used;</li>
        <li>With whom the information may be shared;</li>
        <li>What choices are available to you regarding the collection, use, and distribution of the information; and</li>
        <li>How you can OPT-OUT of receiving marketing information from or providing personal information to Provider.</li>
        <li>How you correct errors or inaccuracies in your information.</li>
      </ul>
      <br />

      <h5>What information do we collect?</h5>
      We collect several different types of information from you:<br /><br /><br /><strong>A. Information collected at registration</strong
      ><br />
      We collect personal information when you register with us and when you use our Services. We may combine this information about you
      with information we obtain from our business partners or other companies. During the registration for some of our services, we may
      require users to give us basic contact information (such as your first and last name, e-mail addresses, and mobile phone number). The
      information requested on the registration form may change from time to time. Although additional demographic information may be
      requested at the time of registration, only information marked "required" is necessary for registration and utilization of our
      services.<br />
      We do not accept registrations from persons under the age of eighteen. If you are between the ages of 16-18 you must have your
      parent's approval to register. If we learn that a user is under the age of eighteen without valid parental approval, we will terminate
      the account and delete the user&rsquo;s information. We will not be liable for any content or advertisements viewed by minor children
      in violation of the terms of this policy.<br />
      In compliance with the Children's Online Privacy Protection Act (COPPA), the Site is not directed at or designed to attract children.
      Accordingly, we do not knowingly or intentionally collect personally identifiable information from anyone under 13 years of age.<br />
      When you visit an {{ domainInfo.domain }} website we collect two specific types of information either provided by you. By choosing to
      participate in our Program or Service, you must disclose certain PII to become a member, these items include but are not limited to:
      your email address, first and last name, address, phone number, mobile phone number, gender, and date of birth. Additionally, you may
      provide other forms of Personal information during various stages of the registration process and participating in various offers, or
      sending us email correspondences. Said information you provide is given and collected with your express consent to share and use as
      defined herein.<br /><br /><br /><strong>B. Information collected through the use of the Site and Services</strong><br />
      In addition to the specific questions you answer when you register for our Services, we may also collect information from winners of
      our contests, such as their street address, phone number, and date of birth so that we can comply with various state and federal
      reporting requirements.<br />
      As is true of most web sites, we gather certain information automatically and store it in log files. This information includes
      internet protocol (IP) addresses, browser type, Internet service provider (ISP), referring/exit pages, operating system, date/time
      stamp, and clickstream data.<br />
      We may combine this automatically collected log information with other information we collect about you. We do this to improve the
      services we offer you and to improve marketing, analytics.<br />
      Technologies such as: cookies, beacons, tags, and scripts are used by {{ domainInfo.domain }} and our marketing partners, affiliates,
      or analytics or online service customer support providers. These technologies are used in analyzing trends, administering the site,
      tracking users&rsquo; movements around the site and to gather demographic information about our user base as a whole. We may receive
      reports based on the use of these technologies by these companies on an individual as well as aggregated basis.<br />
      We use cookies for authentication. Users can control the use of cookies at the individual browser level. If you reject cookies, you
      may still use our site, but your ability to use some features or areas of our site may be limited.<br />
      We and third parties with whom we partner to provide certain features on our site or to display advertising based upon your Web
      browsing activity use LSOs such as HTML 5 to collect and store information.<br />
      Various browsers may offer their own management tools for removing HTML5 LSOs.<br />
      We partner with a third party may use technologies such as cookies to gather information about your activities on this site and other
      sites in order to provide you advertising based upon your browsing activities and interests. Third parties info is collected on the
      registration form.<br /><br /><br />

      <h5>What do we do with the information we collect?</h5>
      Without limiting the foregoing, by providing your personal information on the Site, you agree that such act constitutes an inquiry
      and/or application for purposes of the Amended Telemarketing Sales Rule (16 CFR &sect;310 et seq.), as amended from time to time (the
      "Rule") and applicable state do-not-call regulations. As such, notwithstanding that your telephone number may be listed on the Federal
      Trade Commission's Do-Not-Call List, and/or on applicable state do-not-call lists, we retain the right to contact you via
      telemarketing, including by means of a pre-recorded message and automated voice dialing, in accordance with the Rule and the
      applicable state do-not-call regulations.<br />
      Your acceptance of the terms and conditions of this Site constitutes your express written consent to receive telemarketing
      calls/SMS/emails from third-party marketers, including by means of a pre-recorded message and automated voice dialing. Your consent
      will be effective regardless of whether the number you have provided: (a) is a home, business, or cell phone line; or (b) is or will
      be registered on any state or federal Do-Not-Call (DNC) list, and such consent shall remain in effect until you revoke your consent by
      contacting us, as described in Section 5 ("OPT-OUT").<br /><br /><br />

      <h5>With whom do we share information?</h5>
      We will share your personal information with third parties only in the ways that are described in this privacy policy. We do not sell
      your personal information to third parties.<br />
      <ul>
        <li>
          We may disclose such information to third party vendors, that we use to assist us in providing our services, subject to similar
          obligations of confidentiality to those contained in this Privacy Policy. These companies are authorized to use your personal
          information only as necessary to provide these services to us.
        </li>
        <li>
          We may also disclose information about you as we believe is reasonably necessary to comply with laws such as to comply with a
          subpoena, regulations, court or administrative orders. When we believe in good faith that disclosure is necessary to protect our
          rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.
        </li>
        <li>
          We may disclose your personal information upon a transfer or sale to another entity of all or substantially all of our stock or
          assets in the line of business that this privacy policy relates or upon any other corporate reorganization. You will be notified
          via email and/or a prominent notice on our Web site of any change in ownership or uses of your personal information, as well as
          any choices you may have regarding your personal information.
        </li>
        <li>
          With your permission, we will provide your personal information to other companies so that they can market their products or
          services to you.
        </li>
      </ul>
      With your permission, we may also share aggregate demographic and other information regarding the use of our Services with third
      parties for marketing and other purposes.<br />
      You further consent to receive autodialed and/or pre-recorded telemarketing calls from or on behalf of Provider and Provider's
      third-party marketing partners at the telephone number you provide to us, including your wireless number, if applicable. You
      understand that consent is not a condition of purchase.<br /><br /><strong
        >We use the information we collect from you to do the following:</strong
      ><br />
      <ul>
        <li>provide the Services to you,</li>
        <li>confirm your agreement with us for use of the Services,</li>
        <li>improve our Services,</li>
        <li>award contest prizes,</li>
        <li>customize certain pages or Services for you, and</li>
        <li>send you newsletters, promotional information, and updates.</li>
      </ul>
      <br /><strong>Access to your account</strong><br />
      If your personal information changes, or if you no longer desire our service, you may delete/remove it by making the change on our
      member information page or by emailing our Customer Support or by contacting us by postal mail at the contact information listed
      below.<br /><br /><br />

      <h5>OPT-OUT</h5>
      By submitting your information to us, you are consenting to receive marketing communications from Provider and its third party
      marketing partners. If, after you have shared your information with us, you decide that you do not want to receive marketing
      communications from Provider, you can discontinue the communications by sending an email here with the phrase "opt out" . You may also
      send opt-out requests to the following address:<br /><strong
        >{{ domainInfo.domain }} OptOut - 106 Victoria Drive, Montgomeryville, PA 18936</strong
      ><br />
      If you have registered or submitted information under more than one email account, you must submit separate opt-out requests for each
      account.<br />
      We may provide information to third parties, and third parties may independently collect information about users. Information shared
      with, or collected by, these third parties is subject to those third parties' policies governing use and disclosure of personal
      information. Users should contact those third parties directly if they do not wish to receive communications from them, do not want
      those third parties to collect information about them, or wish to take any other actions with regard to such information.<br /><br /><br />

      <h5>Data Retention</h5>
      We will retain your information for as long as your account is active or as needed to provide you the Services. We will retain and use
      your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.<br /><br /><br />

      <h5>Other websites</h5>
      Our Site may contain links to other websites. We cannot be responsible for their content or for personal information you may choose to
      share with them. Please note: any information you release directly to parties who provide services to us, such as any vendors who
      advertise on our Site or Services, may be subject to different rules of use or disclosure. We encourage you to investigate the privacy
      policies and practices of any third parties prior to disclosing personal information to them.<br /><br /><br />

      <h5>Security</h5>
      Your privacy is important to us and we take commercially reasonable measures to protect the security of the personal information we
      collect both during transmission and once we receive it. Because this site does not encrypt incoming e-mail, you should not send
      information that you consider highly sensitive through this Web site. We use commercially reasonable security measures to ensure that
      your personally identifiable information is not lost, misused, altered, or unintentionally destroyed. We also use software programs
      that monitor network traffic to identify unauthorized attempts to upload or change information, or otherwise cause damage. Except for
      authorized law enforcement investigations, no attempts are made to identify individual users or their usage habits. No method of
      transmission over the Internet, or method of electronic storage is 100% secure, however. Therefore, we cannot guarantee its absolute
      security.<br />
      When you enter sensitive information on our site, we encrypt the transmission of that information using secure socket layer technology
      (SSL).

      <h5>Disclaimer Notice</h5>
      The Provider makes no claims, promises or guarantees about the accuracy, currency, completeness, or adequacy of the contents of this
      Web site and expressly disclaims liability for errors and omissions in its contents. No warranty of any kind, implied, express or
      statutory, including but not limited to the warranties of non-infringement of third party rights, title, merchantability, fitness for
      a particular purpose and freedom from computer virus, is given with respect to this Web site, the Services or its links to other
      Internet resources.<br /><br /><br />

      <h5>Endorsement Disclaimer</h5>
      When visiting our Site, your Web browser may produce pop-up advertisements. These advertisements are typically produced by other Web
      sites you visited or by third-party software installed on your computer. The Provider does not endorse or recommend products or
      services you may view when you receive a pop-up advertisement on your computer screen while visiting our site.<br />
      Reference in the Site to any specific commercial products, processes, or services, or the use of any trade, firm, or corporation name
      is for the information and convenience of the public and does not constitute an endorsement or recommendation by the Provider.<br /><br /><br />

      <h5>Notice of changes</h5>
      We may update this privacy policy to reflect changes to our information practices. If we make any change in how we use your personal
      information we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site
      prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy
      practices.<br /><br /><br />

      <h5>Your California Privacy Rights.</h5>
      Under California's "Shine the Light" law, California residents who provide personal information in obtaining products or services for
      personal, family, or household use are entitled to either: (1) a list detailing the categories of information shared and the entities
      to which such information was provided; or (2) to be notified of a mechanism by which a consumer may opt-out of having their
      information shared with third parties. We have elected the second option.
    </div>
  </div>
</section>
