<form [formGroup]="form" class="d-flex flex-column">
  <div class="p-2">
    <h5 class="fw-medium mt-2 mb-3">Complete the form below</h5>

    @for (question of dynamicPixel.questions; track question.id; let i = $index) {
      <div class="mb-4 pb-1">
        <h6 class="h5 fw-normal" [innerHTML]="question.text"></h6>

        <ng-container nrcDynamicQuestionRenderer [question]="question" [form]="form"> </ng-container>
      </div>
    }
  </div>

  @if (dynamicPixel.consentText) {
    <div class="pixel-consent-panel fs-sm">
      <p [innerHTML]="dynamicPixel.consentText"></p>
    </div>
  }
</form>
