<!-- %%%%% HEADER %%%%% -->
<header class="px-2 pt-2 position-fixed top-0 start-0 w-100">
  <nrc-header></nrc-header>
</header>

<!-- %%%%% PAGE TITLE SECTION %%%%%% -->
<section class="top-section-pt-sm bg-primary text-white">
  <div class="container text-center pt-0 p-4">
    <div class="col-xl-8 col mx-auto">
      <h1 class="h3 ls-sm">Discover your personalized benefits, handpicked from our trusted partners and tailored just for you!</h1>
    </div>
  </div>
</section>

<!-- %%%%% SURVEYS SECTION %%%%%% -->
<section class="py-3 bg-light">
  <div class="container-lg position-relative" nrcLoader="offersLoader" style="min-height: 200px">
    <div class="d-flex gap-3 flex-column col-xl-10 mx-auto">
      @for (offer of specialOffers; track offer.id) {
        <!-- ### Offer Card -->
        <div class="bg-white rounded shadow-sm hover-shadow-lg p-md-2 pe-md-4 p-4">
          <div class="row g-3 align-items-center">
            <div class="col-lg-2 col-md-3 text-md-start text-center">
              <img class="img-fluid rounded" width="200" [src]="offer.imageUrl" />
            </div>
            <div class="col-md text-md-start text-center">
              <h4 class="h4">{{ offer.title }}</h4>
              <p class="fs-lg mb-0">{{ offer.description }}</p>
            </div>
            <div class="col-md flex-grow-0 text-center">
              <a (click)="goToOffer(offer)" class="btn btn-secondary btn-lg px-md-5 px-5"> Apply Now </a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<!-- %%%%% FOOTER %%%%%% -->
<nrc-footer [showSurveysDisclaimer]="true"></nrc-footer>
