<header class="px-2 pt-2 position-fixed top-0 start-0 w-100">
  <nav class="navbar navbar-expand-lg bg-glass rounded-3 shadow-lg" style="--bg-alpha: 86%">
    <div class="container-md position-relative">
      <div class="d-flex column-gap-2 align-items-center py-1">
        <a class="navbar-brand me-auto" href="#">
          <img class="img-fluid" src="../../../../assets/images/nrc-logo.svg" alt="NRC" width="150" height="60" />
        </a>
      </div>
    </div>
  </nav>
</header>

<!-- %%%%% PAGE TITLE SECTION %%%%%% -->
<section class="top-section-pt-sm bg-primary text-white">
  <div class="container text-center pt-0 p-4">
    <div class="col-xl-8 col mx-auto">
      <h1 class="h3 ls-sm">The programs listed below are the top benefits that other members like yourself have found useful.</h1>
    </div>
  </div>
</section>

<!-- %%%%% SURVEYS SECTION %%%%%% -->
<section class="py-3 bg-light">
  <div class="container-lg">
    <div class="d-flex gap-3 flex-column col-xl-10 mx-auto">
      <!-- ### Offer Card -->
      <div class="bg-white rounded shadow-sm hover-shadow-lg p-md-2 pe-md-4 p-4">
        <div class="row g-3 align-items-center">
          <div class="col-lg-2 col-md-3 text-md-start text-center">
            <img class="img-fluid rounded" width="200" src="../../../../assets/images/survey-offer-image.png" />
          </div>
          <div class="col-md text-md-start text-center">
            <h4 class="h4">What is your current employment status?</h4>
            <p class="fs-lg mb-0">
              American Residential Warranty is a service provider that offers home warranty plans to cover the repair or replacement of
              major home systems and appliances.
            </p>
          </div>
          <div class="col-md flex-grow-0 text-center">
            <a href="" class="btn btn-secondary btn-lg px-md-5 px-5" target="_blank"> Apply Now </a>
          </div>
        </div>
      </div>
      <!-- ### Offer Card -->
      <div class="bg-white rounded shadow-sm hover-shadow-lg p-md-2 pe-md-4 p-4">
        <div class="row g-3 align-items-center">
          <div class="col-lg-2 col-md-3 text-md-start text-center">
            <img class="img-fluid rounded" width="200" src="../../../../assets/images/survey-offer-image.png" />
          </div>
          <div class="col-md text-md-start text-center">
            <h4 class="h4">What is your current employment status?</h4>
            <p class="fs-lg mb-0">
              American Residential Warranty is a service provider that offers home warranty plans to cover the repair or replacement of
              major home systems and appliances.
            </p>
          </div>
          <div class="col-md flex-grow-0 text-center">
            <a href="" class="btn btn-secondary btn-lg px-md-5 px-5" target="_blank"> Apply Now </a>
          </div>
        </div>
      </div>
      <!-- ### Offer Card -->
      <div class="bg-white rounded shadow-sm hover-shadow-lg p-md-2 pe-md-4 p-4">
        <div class="row g-3 align-items-center">
          <div class="col-lg-2 col-md-3 text-md-start text-center">
            <img class="img-fluid rounded" width="200" src="../../../../assets/images/survey-offer-image.png" />
          </div>
          <div class="col-md text-md-start text-center">
            <h4 class="h4">What is your current employment status?</h4>
            <p class="fs-lg mb-0">
              American Residential Warranty is a service provider that offers home warranty plans to cover the repair or replacement of
              major home systems and appliances.
            </p>
          </div>
          <div class="col-md flex-grow-0 text-center">
            <a href="" class="btn btn-secondary btn-lg px-md-5 px-5" target="_blank"> Apply Now </a>
          </div>
        </div>
      </div>
      <!-- ### Offer Card -->
      <div class="bg-white rounded shadow-sm hover-shadow-lg p-md-2 pe-md-4 p-4">
        <div class="row g-3 align-items-center">
          <div class="col-lg-2 col-md-3 text-md-start text-center">
            <img class="img-fluid rounded" width="200" src="../../../../assets/images/survey-offer-image.png" />
          </div>
          <div class="col-md text-md-start text-center">
            <h4 class="h4">What is your current employment status?</h4>
            <p class="fs-lg mb-0">
              American Residential Warranty is a service provider that offers home warranty plans to cover the repair or replacement of
              major home systems and appliances.
            </p>
          </div>
          <div class="col-md flex-grow-0 text-center">
            <a href="" class="btn btn-secondary btn-lg px-md-5 px-5" target="_blank"> Apply Now </a>
          </div>
        </div>
      </div>
      <!-- ### Offer Card -->
      <div class="bg-white rounded shadow-sm hover-shadow-lg p-md-2 pe-md-4 p-4">
        <div class="row g-3 align-items-center">
          <div class="col-lg-2 col-md-3 text-md-start text-center">
            <img class="img-fluid rounded" width="200" src="../../../../assets/images/survey-offer-image.png" />
          </div>
          <div class="col-md text-md-start text-center">
            <h4 class="h4">What is your current employment status?</h4>
            <p class="fs-lg mb-0">
              American Residential Warranty is a service provider that offers home warranty plans to cover the repair or replacement of
              major home systems and appliances.
            </p>
          </div>
          <div class="col-md flex-grow-0 text-center">
            <a href="" class="btn btn-secondary btn-lg px-md-5 px-5" target="_blank"> Apply Now </a>
          </div>
        </div>
      </div>
      <!-- ### Offer Card -->
      <div class="bg-white rounded shadow-sm hover-shadow-lg p-md-2 pe-md-4 p-4">
        <div class="row g-3 align-items-center">
          <div class="col-lg-2 col-md-3 text-md-start text-center">
            <img class="img-fluid rounded" width="200" src="../../../../assets/images/survey-offer-image.png" />
          </div>
          <div class="col-md text-md-start text-center">
            <h4 class="h4">What is your current employment status?</h4>
            <p class="fs-lg mb-0">
              American Residential Warranty is a service provider that offers home warranty plans to cover the repair or replacement of
              major home systems and appliances.
            </p>
          </div>
          <div class="col-md flex-grow-0 text-center">
            <a href="" class="btn btn-secondary btn-lg px-md-5 px-5" target="_blank"> Apply Now </a>
          </div>
        </div>
      </div>
      <!-- ### Offer Card -->
      <div class="bg-white rounded shadow-sm hover-shadow-lg p-md-2 pe-md-4 p-4">
        <div class="row g-3 align-items-center">
          <div class="col-lg-2 col-md-3 text-md-start text-center">
            <img class="img-fluid rounded" width="200" src="../../../../assets/images/survey-offer-image.png" />
          </div>
          <div class="col-md text-md-start text-center">
            <h4 class="h4">What is your current employment status?</h4>
            <p class="fs-lg mb-0">
              American Residential Warranty is a service provider that offers home warranty plans to cover the repair or replacement of
              major home systems and appliances.
            </p>
          </div>
          <div class="col-md flex-grow-0 text-center">
            <a href="" class="btn btn-secondary btn-lg px-md-5 px-5" target="_blank"> Apply Now </a>
          </div>
        </div>
      </div>
      <!-- ### Offer Card -->
      <div class="bg-white rounded shadow-sm hover-shadow-lg p-md-2 pe-md-4 p-4">
        <div class="row g-3 align-items-center">
          <div class="col-lg-2 col-md-3 text-md-start text-center">
            <img class="img-fluid rounded" width="200" src="../../../../assets/images/survey-offer-image.png" />
          </div>
          <div class="col-md text-md-start text-center">
            <h4 class="h4">What is your current employment status?</h4>
            <p class="fs-lg mb-0">
              American Residential Warranty is a service provider that offers home warranty plans to cover the repair or replacement of
              major home systems and appliances.
            </p>
          </div>
          <div class="col-md flex-grow-0 text-center">
            <a href="" class="btn btn-secondary btn-lg px-md-5 px-5" target="_blank"> Apply Now </a>
          </div>
        </div>
      </div>
      <!-- ### Offer Card -->
      <div class="bg-white rounded shadow-sm hover-shadow-lg p-md-2 pe-md-4 p-4">
        <div class="row g-3 align-items-center">
          <div class="col-lg-2 col-md-3 text-md-start text-center">
            <img class="img-fluid rounded" width="200" src="../../../../assets/images/survey-offer-image.png" />
          </div>
          <div class="col-md text-md-start text-center">
            <h4 class="h4">What is your current employment status?</h4>
            <p class="fs-lg mb-0">
              American Residential Warranty is a service provider that offers home warranty plans to cover the repair or replacement of
              major home systems and appliances.
            </p>
          </div>
          <div class="col-md flex-grow-0 text-center">
            <a href="" class="btn btn-secondary btn-lg px-md-5 px-5" target="_blank"> Apply Now </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- %%%%% FOOTER SECTION %%%%%% -->
<nrc-footer [showSurveysDisclaimer]="true"></nrc-footer>
