<section class="hero-section px-3 py-4 bg-primary" style="background-image: url('../../../assets/images/hero-image-grant.png')">
  <div class="container-md px-md-3 px-0">
    <div class="row g-3 g-lg-5 h-100">
      <!-- ### Hero details -->
      <div class="col-xl-7 col-lg-6 d-flex flex-column row-md-gap-4 row-gap-3 justify-content-around align-items-start text-white">
        <div class="py-md-4 py-2 text-lg-start text-center w-100">
          <img src="../../../../assets/images/usa-grants-logo.png" alt="" width="300" height="80" class="img-fluid grant-logo" />
        </div>
        <strong class="h3 fw-medium align-self-lg-start align-self-center">Want to Make Some Extra Cash?</strong>
        <h1
          class="display-3 fw-bold pe-xl-5 hero-heading text-primary text-shadow-dark text-lg-start text-center align-self-lg-start align-self-center"
          style="color: hsl(199, 100%, 45%) !important"
        >
          Get Your Share of <span class="text-success">Grant Funding</span> Today!
        </h1>
        <p class="fs-5 pe-lg-5 me-xl-5 text-lg-start text-center d-md-block d-none">
          All U.S. citizens and residents can apply for grants and loans funded by the Federal Government, State Government, and private
          foundations. These programs don’t require credit checks, collateral, security deposits, or co-signers. Even if you've filed for
          bankruptcy or have poor credit, as a U.S. taxpayer, you still qualify to apply!
          <br /><br />
          You might qualify for grant money that you <strong>NEVER HAVE TO PAY BACK</strong> — apply now and don’t miss out!
        </p>
      </div>

      <!-- ### Hero form -->
      <div class="col-lg align-self-center">
        <div class="rounded-3 border border-primary border-2 bg-glass p-3 pb-0 position-relative shadow-lg">
          <h2 class="h3 text-center text-primary">Get Your Money Now!</h2>
          <h6 class="text-gray-700 text-center mb-3">Complete the form below</h6>
          <nrc-signup-form></nrc-signup-form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- %%%%% DISCOVER GRANT OPPORTUNITIES SECTION %%%%%% -->
<section class="py-5 px-md-0 px-2">
  <div class="container py-lg-5 text-center position-relative overflow-hidden">
    <h3 class="display-5 fw-bold mb-3">Ready to Discover Grant Opportunities?</h3>
    <p class="fs-5 text-gray-700 col-lg-8 mx-auto mb-md-5 mb-4">
      Explore grants easily with our online tools! Searching for grants has never been faster or more convenient. Find everything you need,
      from available grants to step-by-step instructions, all in one place.
    </p>

    <div class="col-xl-10 mx-auto mb-4">
      <div class="row g-lg-5 g-3">
        <div class="col-md-4">
          <div class="bg-gray-200 p-4 rounded-3 h-100">
            <div class="d-inline-flex bg-danger text-white fs-2 rounded-pill p-4 mb-3">
              <span class="material-symbols-outlined">ads_click</span>
            </div>
            <h6 class="h5">Search for Grants Online</h6>
            <p class="px-xl-4">
              Looking for grants? <br />
              Use our online search to quickly find grants that match your needs and eligibility. Start your search with a few clicks!
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="bg-gray-200 p-4 rounded-3 h-100">
            <div class="d-inline-flex bg-primary text-white fs-2 rounded-pill p-4 mb-3">
              <span class="material-symbols-outlined">description</span>
            </div>
            <h6 class="h5">Your Grant Approval Guide</h6>
            <p class="px-xl-4">
              Access our free, comprehensive guide to the grant approval process. Follow easy, step-by-step instructions and improve your
              chances of approval—all at no cost!
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="bg-gray-200 p-4 rounded-3 h-100">
            <div class="d-inline-flex bg-secondary text-white fs-2 rounded-pill p-4 mb-3">
              <span class="material-symbols-outlined">fact_check</span>
            </div>
            <h6 class="h5">Free Resources to Support You</h6>
            <p class="px-xl-4">
              Find additional resources like job market information, education and training programs, job placement services, and more. Take
              advantage of these free tools to achieve your goals!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- %%%%% NEWLY AVAILABLE RESOURCES SECTION %%%%%% -->
<section class="bg-light py-5 px-md-0 px-2">
  <div class="container py-lg-5">
    <h3 class="display-5 fw-bold mb-3 text-center">Newly Available Resources to Help You Succeed</h3>
    <p class="fs-5 pe-lg-5 text-gray-700 mb-4 text-center">Discover a range of resources to support your personal and financial goals:</p>

    <ul class="check-list column-list list-unstyled mb-md-5 mb-4 fs-5 col-xl-10 mx-auto">
      <li class="position-relative">
        <strong class="d-block">Cash for Home Improvements or a Down Payment</strong>
        Access funding to enhance your home or secure your dream property with a down payment boost.
      </li>
      <li class="position-relative">
        <strong class="d-block">Earn a Degree and Unlock Your Earning Potential</strong>
        Invest in your future by pursuing educational programs that increase your income opportunities.
      </li>
      <li class="position-relative">
        <strong class="d-block">Exclusive Benefits and Compensation Opportunities</strong>
        Find access to exclusive programs offering unique benefits and additional compensation.
      </li>
      <li class="position-relative">
        <strong class="d-block">Legal Support to Qualify for Benefits</strong>
        Get assistance with eligibility for benefits you may not know you qualify for.
      </li>
      <li class="position-relative">
        <strong class="d-block">Financing for All Loan Types</strong>
        Explore a variety of loan options tailored to fit your specific needs.
      </li>
      <li class="position-relative">
        <strong class="d-block">Deals & Discounts to Save and Earn</strong>
        Take advantage of special deals and discounts designed to help you save and earn money effortlessly.
      </li>
    </ul>

    <p class="fs-md col-xl-7 mx-auto text-center alert alert-primary mb-0">
      Whether you're planning for a brighter future or looking for immediate financial support, these resources are here to help you every
      step of the way.
    </p>
  </div>
</section>

<!-- %%%%% FOOTER %%%%%% -->
<section class="bg-dark px-md-0 px-2">
  <div class="container py-5 border-bottom border-gray-700">
    <p class="fs-sm col-xl-7 mx-auto text-center mb-0 text-gray-500 lh-md">
      This website is owned and operated by National Resource Connect. By registering for access to any portion of this website or by using
      any portion of this website, you agree to be bound by these terms and conditions. Please review our other policies, such as our
      privacy policy. These policies also govern your use of this website. If you do not agree to be bound by these terms and conditions, do
      not proceed any further and do not use this website.
    </p>
  </div>
</section>
<nrc-footer></nrc-footer>
